<header class="edu-header header-style-1 header-fullwidth">
    <div class="header-top-bar d-none d-lg-block bg-lighten04">
        <div class="container-fluid">
            <div class="header-top">
                <div class="header-top-left">
                    <ul class="header-info">
                        <li>
                            <a href="index.html">
                                <img class="logo-light" src="~/images/logo/topclasses.png"
                                     alt="topclasses Logo" />
                                <p class="tagline">Study from the Best CA Gurus !</p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="header-top-center wrap">
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="Search Here....." />
                        <button type="submit" class="searchButton">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>

                <div class="header-top-right">
                    <ul class="header-info">
                        <li>
                            <a href="login.html" class="bc" data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Login">
                                <i class="fas fa-sign-in-alt"></i>
                            </a>
                        </li>
                        <li>
                            <a href="register.html" class="bc" data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Register">
                                <i class="fas fa-user-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="cart.html" class="bc" data-bs-toggle="tooltip" data-bs-placement="top"
                               title="View Cart">
                                <i class="icon-3"></i>
                            </a>
                        </li>

                        <!-- <li><a href="login.html" class="log loginBtn">
                                  Login
                              </a></li>
                          <li><a href="register.html" class="log loginBtn">
                                  Register
                              </a></li>
                          <li><a href="#" class="log loginBtn">
                                  View Cart
                              </a></li> -->

                        <li class="social-icon">
                            <a href="#"><i class="icon-facebook"></i></a>
                            <a href="#"><i class="icon-instagram"></i></a>
                            <a href="#"><i class="icon-twitter"></i></a>
                            <a href="#"><i class="icon-linkedin2"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="edu-sticky-placeholder"></div>

    <div class="header-mainmenu">
        <div class="container-fluid">
            <div class="header-navbar">
                <div class="header-brand d-block d-lg-none">
                    <div class="logo">
                        <a href="index.html">
                            <img class="logo-light" src="~/images/logo/topclasses.png"
                                 alt="topclasses Logo" />
                            <p class="tagline">Study from the Best CA Gurus !</p>
                        </a>
                    </div>
                </div>

                <div class="header-mainnav">
                    <nav class="mainmenu-nav">
                        <ul class="mainmenu">
                            <li class="has-droupdown">
                                <a href="javascript:void()">CA FINAL</a>
                                <ul class="mega-menu">
                                    <li>
                                        <h6 class="menu-title">CA FINAL</h6>

                                        <h6 class="menu-title">CA FINAL GROUP 1</h6>

                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            <li><a href="course.html">Financial Reporting</a></li>
                                            <li><a href="course.html">AFM</a></li>
                                            <li><a href="course.html">Auditing & Professional Ethics</a></li>
                                        </ul>
                                    </li>


                                    <li>
                                        <h6 class="menu-title">CA FINAL GROUP 2</h6>
                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            <li><a href="course.html">Direct Tax Laws & International Taxation</a></li>
                                            <li><a href="course.html">Indirect Tax Laws</a></li>
                                            <li>
                                                <a href="course.html">Integrated Business Solution</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <h6 class="menu-title">CA FINAL FAST TRACK</h6>
                                        <ul class="submenu mega-sub-menu-01">
                                            <li><a href="course.html">FRM</a></li>
                                            <li><a href="course.html">AFM</a></li>
                                            <li><a href="course.html">Audit</a></li>
                                            <li><a href="course.html">Direct Tax</a></li>
                                            <li><a href="course.html">Indirect Tax</a></li>
                                            <li><a href="course.html">Combos</a></li>
                                        </ul>
                                    </li>

                                    <!-- <li>
                                      <h6 class="menu-title">FAST TRACK (ENGLISH)</h6>
                                      <ul class="submenu mega-sub-menu-01">
                                        <li><a href="course.html">FRM</a></li>
                                        <li><a href="course.html">AFM/SFM</a></li>
                                        <li><a href="course.html">Audit</a></li>
                                        <li><a href="course.html">Direct Tax</a></li>
                                        <li><a href="course.html">Indirect Tax</a></li>
                                        <li><a href="course.html">Combos</a></li>
                                      </ul>
                                    </li> -->

                                </ul>
                            </li>

                            <li class="has-droupdown">
                                <a href="javascript:void()">CA INTER / FOUNDATION</a>
                                <ul class="mega-menu foundation">
                                    <li>
                                        <h6 class="menu-title">CA INTER</h6>

                                        <h6 class="menu-title">CA INTER GROUP 1</h6>

                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            <li>
                                                <a href="course.html">Advanced Accounting</a>
                                            </li>
                                            <li><a href="course.html">Corporate Law</a></li>
                                            <li><a href="course.html">Taxation</a></li>
                                            <li><a href="course.html">Group 1 Combo</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <h6 class="menu-title">CA INTER GROUP 2</h6>
                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            <li><a href="course.html">Cost & Management Accounting</a></li>
                                            <li><a href="course.html">Auditing & Ethics</a></li>
                                            <li><a href="course.html">FM SM</a></li>
                                            <li><a href="course.html">Group 2 Combo</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <h6 class="menu-title">CA FOUNDATION</h6>
                                        <ul class="submenu mega-sub-menu-01">
                                            <li><a href="course.html">Accounting</a></li>
                                            <li><a href="course.html">Business Laws</a></li>
                                            <li><a href="course.html">Quantitative Aptitude</a></li>
                                            <li><a href="course.html">Business Economics</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="has-droupdown">
                                <a href="javascript:void()">CS</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="course.html">Foundation</a>
                                    </li>
                                    <li><a href="course.html">Executive</a></li>
                                    <li><a href="course.html">Professional</a></li>
                                </ul>
                            </li>

                            <li class="has-droupdown">
                                <a href="javascript:void()">CMA</a>
                                <ul class="mega-menu cma">
                                    <li>
                                        <h6 class="menu-title">CMA FINAL</h6>

                                        <h6 class="menu-title">Group III</h6>

                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            <li>
                                                <a href="course.html">Corporate & Economic Laws (Paper 13)</a>
                                            </li>
                                            <li><a href="course.html">Strategic Financial Management (Paper 14)</a></li>
                                            <li>
                                                <a href="course.html">Direct Tax Laws & International Taxation (Paper 15)</a>
                                            </li>
                                            <li><a href="course.html">Strategic Cost Management (Paper 16)</a></li>
                                        </ul>

                                        <h6 class="menu-title">Group IV</h6>
                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            <li>
                                                <a href="course.html">Cost & Management Audit (Paper 17)</a>
                                            </li>
                                            <li><a href="course.html">Corporate Financial Reporting (Paper 18) </a></li>
                                            <li>
                                                <a href="course.html">Indirect Tax Laws & Practice (Paper 19)</a>
                                            </li>
                                        </ul>

                                        <h6 class="menu-title">Electives</h6>
                                        <ul class="submenu mega-sub-menu-01">
                                            <li>
                                                <a href="course.html">
                                                    Strategic Performance Management & Business Valuation (Paper 20A)
                                                </a>
                                            </li>
                                            <li>
                                                <a href="course.html">Risk Management in Banking & Insurance (Paper 20B)</a>
                                            </li>
                                            <li>
                                                <a href="course.html">
                                                    Enterpreneurship and Startup (Paper
                                                    20C)
                                                </a>
                                            </li>
                                        </ul>


                                    </li>


                                    <li>
                                        <h6 class="menu-title">CMA INTER</h6>

                                        <h6 class="menu-title">Group I</h6>

                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            <li>
                                                <a href="course.html">Business Laws & Ethics (Paper 5)</a>
                                            </li>
                                            <li>
                                                <a href="course.html">Financial Accounting (Paper 6)</a>
                                            </li>
                                            <li>
                                                <a href="course.html">Direct & Indirect Taxation (Paper 7)</a>
                                            </li>
                                            <li>
                                                <a href="course.html">Cost Accounting (Paper 8)</a>
                                            </li>
                                        </ul>

                                        <h6 class="menu-title">Group II</h6>
                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            <li>
                                                <a href="course.html">Oparations Management & Strategic Management (Paper 9)</a>
                                            </li>
                                            <li>
                                                <a href="course.html">Corporate Accounting and Auditing (Paper 10)</a>
                                            </li>
                                            <li>
                                                <a href="course.html">Financial Management & Data Analytics (Paper 11)</a>
                                            </li>
                                            <li>
                                                <a href="course.html">Mgmt Accounting (Paper 12)</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <h6 class="menu-title">CMA FOUNDATION</h6>

                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            <li>
                                                <a href="course.html">Business Law & Comm (Paper 1)</a>
                                            </li>
                                            <li>
                                                <a href="course.html">Financial & Cost Accounting (Paper 2)</a>
                                            </li>
                                            <li>
                                                <a href="course.html">Business Maths & Stats (Paper 3)</a>
                                            </li>
                                            <li>
                                                <a href="course.html">Business Economics & Mgmt (Paper 4)</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="our-achivements.html">OUR ACHIVEMENTS</a>
                                <!-- <ul class="mega-menu others">
                                  <li>
                                    <h6 class="menu-title">CFA</h6>

                                    <ul class="submenu mega-sub-menu-01 mb-4">
                                      <li>
                                        <a href="course.html">Level 1</a>
                                      </li>
                                      <li><a href="course.html">Level 2</a></li>
                                      <li>
                                        <a href="course.html">Level 3</a>
                                      </li>
                                    </ul>

                                    <h6 class="menu-title">FRM</h6>
                                    <ul class="submenu mega-sub-menu-01 mb-4">
                                      <li>
                                        <a href="course.html">Part 1</a>
                                      </li>
                                      <li><a href="course.html">Part 2</a></li>
                                    </ul>

                                    <h6 class="menu-title">CPA</h6>
                                    <ul class="submenu mega-sub-menu-01 mb-4">
                                      <li>
                                        <a href="course.html">US CPA</a>
                                      </li>
                                    </ul>
                                  </li>

                                  <li>
                                    <h6 class="menu-title">ACCA</h6>
                                    <ul class="submenu mega-sub-menu-01">
                                      <li>
                                        <a href="course.html">Knowledge Level </a>
                                      </li>
                                      <li>
                                        <a href="course.html">Skill Level</a>
                                      </li>
                                      <li>
                                        <a href="course.html">Professional Level</a>
                                      </li>
                                    </ul>
                                  </li>

                                  <li>
                                    <h6 class="menu-title">IFRS</h6>

                                    <ul class="submenu mega-sub-menu-01 mb-4">
                                      <li>
                                        <a href="course.html">DIP IFR</a>
                                      </li>
                                      <li>
                                        <a href="course.html">CERT IFR</a>
                                      </li>
                                    </ul>


                                  </li>

                                  <li>
                                    <h6 class="menu-title">OTHER COURSES</h6>

                                    <ul class="submenu mega-sub-menu-01 mb-4">
                                      <li>
                                        <a href="course.html">Practical Traning</a>
                                      </li>
                                      <li>
                                        <a href="course.html">Taxation</a>
                                      </li>
                                      <li>
                                        <a href="course.html">Tally</a>
                                      </li>
                                      <li>
                                        <a href="course.html">Excel</a>
                                      </li>

                                      <li>
                                        <a href="course.html">Stock Market</a>
                                      </li>

                                      <li>
                                        <a href="course.html">Financial Statement Analysis</a>
                                      </li>

                                      <li>
                                        <a href="course.html">US CMA</a>
                                      </li>

                                      <li>
                                        <a href="course.html">CUET</a>
                                      </li>
                                    </ul>
                                  </li>
                                </ul> -->
                            </li>

                            <li><a href="#testimonial">TESTIMONIALS</a></li>

                            <li><a href="contact.html">CONTACT US</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="header-right d-block d-lg-none">
                    <ul class="header-action">
                        <li class="mobile-menu-bar">
                            <button class="hamberger-button">
                                <i class="icon-54"></i>
                            </button>
                        </li>

                        <!-- <li class="search-bar">
                              <div class="input-group">
                                  <input type="text" class="form-control" placeholder="Search">
                                  <button class="search-btn" type="button"><i class="icon-2"></i></button>
                              </div>
                          </li> -->

                        <li class="icon search-icon">
                            <a href="javascript:void(0)" class="search-trigger">
                                <i class="icon-2"></i>
                            </a>
                        </li>

                        <li>
                            <a href="login.html" class="bc" data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Login">
                                <i class="fas fa-sign-in-alt"></i>
                            </a>
                        </li>
                        <li>
                            <a href="register.html" class="bc" data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Register">
                                <i class="fas fa-user-plus"></i>
                            </a>
                        </li>

                        <li class="icon cart-icon">
                            <a href="cart.html">
                                <i class="icon-3"></i>
                                <span class="count">0</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="popup-mobile-menu">
        <div class="inner">
            <div class="header-top">
                <!-- <div class="logo">
                                <a href="index.html">
                                    <img class="logo-light" src="~/images/logo/topclasses.png" alt="topclasses Logo">
                                </a>
                            </div> -->
                <div class="close-menu">
                    <button class="close-button">
                        <i class="icon-73"></i>
                    </button>
                </div>
            </div>
            <ul class="mainmenu">
                <li class="has-droupdown">
                    <a href="javascript:void()">CA FINAL</a>
                    <ul class="mega-menu">
                        <li>
                            <h6 class="menu-title">CA FINAL</h6>

                            <h6 class="menu-title">CA FINAL GROUP 1</h6>

                            <ul class="submenu mega-sub-menu-01 mb-4">
                                <li><a href="course.html">Financial Reporting</a></li>
                                <li><a href="course.html">AFM</a></li>
                                <li><a href="course.html">Auditing & Professional Ethics</a></li>
                            </ul>
                        </li>


                        <li>
                            <h6 class="menu-title">CA FINAL GROUP 2</h6>
                            <ul class="submenu mega-sub-menu-01 mb-4">
                                <li><a href="course.html">Direct Tax Laws & International Taxation</a></li>
                                <li><a href="course.html">Indirect Tax Laws</a></li>
                                <li>
                                    <a href="course.html">Integrated Business Solution</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <h6 class="menu-title">CA FINAL FAST TRACK</h6>
                            <ul class="submenu mega-sub-menu-01">
                                <li><a href="course.html">FRM</a></li>
                                <li><a href="course.html">AFM</a></li>
                                <li><a href="course.html">Audit</a></li>
                                <li><a href="course.html">Direct Tax</a></li>
                                <li><a href="course.html">Indirect Tax</a></li>
                                <li><a href="course.html">Combos</a></li>
                            </ul>
                        </li>

                        <!-- <li>
                          <h6 class="menu-title">FAST TRACK (ENGLISH)</h6>
                          <ul class="submenu mega-sub-menu-01">
                            <li><a href="course.html">FRM</a></li>
                            <li><a href="course.html">AFM/SFM</a></li>
                            <li><a href="course.html">Audit</a></li>
                            <li><a href="course.html">Direct Tax</a></li>
                            <li><a href="course.html">Indirect Tax</a></li>
                            <li><a href="course.html">Combos</a></li>
                          </ul>
                        </li> -->

                    </ul>
                </li>

                <li class="has-droupdown">
                    <a href="javascript:void()">CA INTER / FOUNDATION</a>
                    <ul class="mega-menu foundation">
                        <li>
                            <h6 class="menu-title">CA INTER</h6>

                            <h6 class="menu-title">CA INTER GROUP 1</h6>

                            <ul class="submenu mega-sub-menu-01 mb-4">
                                <li>
                                    <a href="course.html">Advanced Accounting</a>
                                </li>
                                <li><a href="course.html">Corporate Law</a></li>
                                <li><a href="course.html">Taxation</a></li>
                                <li><a href="course.html">Group 1 Combo</a></li>
                            </ul>
                        </li>

                        <li>
                            <h6 class="menu-title">CA INTER GROUP 2</h6>
                            <ul class="submenu mega-sub-menu-01 mb-4">
                                <li><a href="course.html">Cost & Management Accounting</a></li>
                                <li><a href="course.html">Auditing & Ethics</a></li>
                                <li><a href="course.html">FM SM</a></li>
                                <li><a href="course.html">Group 2 Combo</a></li>
                            </ul>
                        </li>

                        <li>
                            <h6 class="menu-title">CA FOUNDATION</h6>
                            <ul class="submenu mega-sub-menu-01">
                                <li><a href="course.html">Accounting</a></li>
                                <li><a href="course.html">Business Laws</a></li>
                                <li><a href="course.html">Quantitative Aptitude</a></li>
                                <li><a href="course.html">Business Economics</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="has-droupdown">
                    <a href="javascript:void()">CS</a>
                    <ul class="submenu">
                        <li>
                            <a href="course.html">Foundation</a>
                        </li>
                        <li><a href="course.html">Executive</a></li>
                        <li><a href="course.html">Professional</a></li>
                    </ul>
                </li>

                <li class="has-droupdown">
                    <a href="javascript:void()">CMA</a>
                    <ul class="mega-menu cma">
                        <li>
                            <h6 class="menu-title">CMA FINAL</h6>

                            <h6 class="menu-title">Group III</h6>

                            <ul class="submenu mega-sub-menu-01 mb-4">
                                <li>
                                    <a href="course.html">Corporate & Economic Laws (Paper 13)</a>
                                </li>
                                <li><a href="course.html">Strategic Financial Management (Paper 14)</a></li>
                                <li>
                                    <a href="course.html">Direct Tax Laws & International Taxation (Paper 15)</a>
                                </li>
                                <li><a href="course.html">Strategic Cost Management (Paper 16)</a></li>
                            </ul>

                            <h6 class="menu-title">Group IV</h6>
                            <ul class="submenu mega-sub-menu-01 mb-4">
                                <li>
                                    <a href="course.html">Cost & Management Audit (Paper 17)</a>
                                </li>
                                <li><a href="course.html">Corporate Financial Reporting (Paper 18) </a></li>
                                <li>
                                    <a href="course.html">Indirect Tax Laws & Practice (Paper 19)</a>
                                </li>
                            </ul>

                            <h6 class="menu-title">Electives</h6>
                            <ul class="submenu mega-sub-menu-01">
                                <li>
                                    <a href="course.html">
                                        Strategic Performance Management & Business Valuation (Paper 20A)
                                    </a>
                                </li>
                                <li>
                                    <a href="course.html">Risk Management in Banking & Insurance (Paper 20B)</a>
                                </li>
                                <li>
                                    <a href="course.html">
                                        Enterpreneurship and Startup (Paper
                                        20C)
                                    </a>
                                </li>
                            </ul>


                        </li>


                        <li>
                            <h6 class="menu-title">CMA INTER</h6>

                            <h6 class="menu-title">Group I</h6>

                            <ul class="submenu mega-sub-menu-01 mb-4">
                                <li>
                                    <a href="course.html">Business Laws & Ethics (Paper 5)</a>
                                </li>
                                <li>
                                    <a href="course.html">Financial Accounting (Paper 6)</a>
                                </li>
                                <li>
                                    <a href="course.html">Direct & Indirect Taxation (Paper 7)</a>
                                </li>
                                <li>
                                    <a href="course.html">Cost Accounting (Paper 8)</a>
                                </li>
                            </ul>

                            <h6 class="menu-title">Group II</h6>
                            <ul class="submenu mega-sub-menu-01 mb-4">
                                <li>
                                    <a href="course.html">Oparations Management & Strategic Management (Paper 9)</a>
                                </li>
                                <li>
                                    <a href="course.html">Corporate Accounting and Auditing (Paper 10)</a>
                                </li>
                                <li>
                                    <a href="course.html">Financial Management & Data Analytics (Paper 11)</a>
                                </li>
                                <li>
                                    <a href="course.html">Mgmt Accounting (Paper 12)</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <h6 class="menu-title">CMA FOUNDATION</h6>

                            <ul class="submenu mega-sub-menu-01 mb-4">
                                <li>
                                    <a href="course.html">Business Law & Comm (Paper 1)</a>
                                </li>
                                <li>
                                    <a href="course.html">Financial & Cost Accounting (Paper 2)</a>
                                </li>
                                <li>
                                    <a href="course.html">Business Maths & Stats (Paper 3)</a>
                                </li>
                                <li>
                                    <a href="course.html">Business Economics & Mgmt (Paper 4)</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="our-achivements.html">OUR ACHIVEMENTS</a>
                    <!-- <ul class="mega-menu others">
                      <li>
                        <h6 class="menu-title">CFA</h6>

                        <ul class="submenu mega-sub-menu-01 mb-4">
                          <li>
                            <a href="course.html">Level 1</a>
                          </li>
                          <li><a href="course.html">Level 2</a></li>
                          <li>
                            <a href="course.html">Level 3</a>
                          </li>
                        </ul>

                        <h6 class="menu-title">FRM</h6>
                        <ul class="submenu mega-sub-menu-01 mb-4">
                          <li>
                            <a href="course.html">Part 1</a>
                          </li>
                          <li><a href="course.html">Part 2</a></li>
                        </ul>

                        <h6 class="menu-title">CPA</h6>
                        <ul class="submenu mega-sub-menu-01 mb-4">
                          <li>
                            <a href="course.html">US CPA</a>
                          </li>
                        </ul>
                      </li>

                      <li>
                        <h6 class="menu-title">ACCA</h6>
                        <ul class="submenu mega-sub-menu-01">
                          <li>
                            <a href="course.html">Knowledge Level </a>
                          </li>
                          <li>
                            <a href="course.html">Skill Level</a>
                          </li>
                          <li>
                            <a href="course.html">Professional Level</a>
                          </li>
                        </ul>
                      </li>

                      <li>
                        <h6 class="menu-title">IFRS</h6>

                        <ul class="submenu mega-sub-menu-01 mb-4">
                          <li>
                            <a href="course.html">DIP IFR</a>
                          </li>
                          <li>
                            <a href="course.html">CERT IFR</a>
                          </li>
                        </ul>


                      </li>

                      <li>
                        <h6 class="menu-title">OTHER COURSES</h6>

                        <ul class="submenu mega-sub-menu-01 mb-4">
                          <li>
                            <a href="course.html">Practical Traning</a>
                          </li>
                          <li>
                            <a href="course.html">Taxation</a>
                          </li>
                          <li>
                            <a href="course.html">Tally</a>
                          </li>
                          <li>
                            <a href="course.html">Excel</a>
                          </li>

                          <li>
                            <a href="course.html">Stock Market</a>
                          </li>

                          <li>
                            <a href="course.html">Financial Statement Analysis</a>
                          </li>

                          <li>
                            <a href="course.html">US CMA</a>
                          </li>

                          <li>
                            <a href="course.html">CUET</a>
                          </li>
                        </ul>
                      </li>
                    </ul> -->
                </li>

                <li><a href="#testimonial">TESTIMONIALS</a></li>

                <li><a href="contact.html">CONTACT US</a></li>
            </ul>
        </div>
    </div>

    <!-- Start Search Popup  -->
    <div class="edu-search-popup">
        <div class="content-wrap">
            <div class="site-logo">
                <img class="logo-light" src="~/images/logo/topclasses.png" alt="topclasses Logo" />
            </div>
            <div class="close-button">
                <button class="close-trigger"><i class="icon-73"></i></button>
            </div>
            <div class="inner">
                <form class="search-form" action="#">
                    <input type="text" class="edublink-search-popup-field" placeholder="Search Here..." />
                    <button class="submit-button"><i class="icon-2"></i></button>
                </form>
            </div>
        </div>
    </div>
    <!-- End Search Popup  -->
</header>

<div class="edu-breadcrumb-area breadcrumb-style-3">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="edu-breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Our Achivements
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="edu-breadcrum-area mt-4">
    <div class="section-title section-center sal-animate" data-sal="slide-up" data-sal-duration="800">
        <h3 class="title">OUR ACHIVEMENTS</h3>
    </div>
</div>

<!--=====================================-->
<!--=        Gallery Area Start        	=-->
<!--=====================================-->
<div class="edu-gallery-area edu-section-gap">
    <div class="container">
        <div class="isotope-wrapper">
            <div class="isotope-list gallery-grid-wrap">
                <div id="animated-thumbnials">


                    <a href="~/images/achivements/1.jpg"
                       class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item education">
                        <div class="thumbnail">
                            <img src="~/images/achivements/1.jpg" alt="Gallery Image">
                        </div>
                        <div class="zoom-icon">
                            <i class="icon-69"></i>
                        </div>
                    </a>


                    <a href="~/images/achivements/2.jpg"
                       class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item marketing">
                        <div class="thumbnail">
                            <img src="~/images/achivements/2.jpg" alt="Gallery Image">
                        </div>
                        <div class="zoom-icon">
                            <i class="icon-69"></i>
                        </div>
                    </a>


                    <a href="~/images/achivements/3.jpg"
                       class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item education health">
                        <div class="thumbnail">
                            <img src="~/images/achivements/3.jpg" alt="Gallery Image">
                        </div>
                        <div class="zoom-icon">
                            <i class="icon-69"></i>
                        </div>
                    </a>


                    <a href="~/images/achivements/4.jpg"
                       class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item marketing">
                        <div class="thumbnail">
                            <img src="~/images/achivements/4.jpg" alt="Gallery Image">
                        </div>
                        <div class="zoom-icon">
                            <i class="icon-69"></i>
                        </div>
                    </a>


                    <a href="~/images/achivements/5.jpg"
                       class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item education">
                        <div class="thumbnail">
                            <img src="~/images/achivements/5.jpg" alt="Gallery Image">
                        </div>
                        <div class="zoom-icon">
                            <i class="icon-69"></i>
                        </div>
                    </a>


                    <a href="~/images/achivements/6.jpg"
                       class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item health">
                        <div class="thumbnail">
                            <img src="~/images/achivements/6.jpg" alt="Gallery Image">
                        </div>
                        <div class="zoom-icon">
                            <i class="icon-69"></i>
                        </div>
                    </a>


                    <a href="~/images/achivements/7.jpg"
                       class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item development">
                        <div class="thumbnail">
                            <img src="~/images/achivements/7.jpg" alt="Gallery Image">
                        </div>
                        <div class="zoom-icon">
                            <i class="icon-69"></i>
                        </div>
                    </a>


                    <a href="~/images/achivements/8.jpg"
                       class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item marketing health">
                        <div class="thumbnail">
                            <img src="~/images/achivements/8.jpg" alt="Gallery Image">
                        </div>
                        <div class="zoom-icon">
                            <i class="icon-69"></i>
                        </div>
                    </a>


                    <a href="~/images/achivements/9.jpg"
                       class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item development">
                        <div class="thumbnail">
                            <img src="~/images/achivements/9.jpg" alt="Gallery Image">
                        </div>
                        <div class="zoom-icon">
                            <i class="icon-69"></i>
                        </div>
                    </a>


                    <a href="~/images/achivements/10.jpg"
                       class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item development">
                        <div class="thumbnail">
                            <img src="~/images/achivements/10.jpg" alt="Gallery Image">
                        </div>
                        <div class="zoom-icon">
                            <i class="icon-69"></i>
                        </div>
                    </a>


                    <a href="~/images/achivements/11.jpg"
                       class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item marketing health">
                        <div class="thumbnail">
                            <img src="~/images/achivements/11.jpg" alt="Gallery Image">
                        </div>
                        <div class="zoom-icon">
                            <i class="icon-69"></i>
                        </div>
                    </a>


                    <a href="~/images/achivements/12.jpg"
                       class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item development">
                        <div class="thumbnail">
                            <img src="~/images/achivements/12.jpg" alt="Gallery Image">
                        </div>
                        <div class="zoom-icon">
                            <i class="icon-69"></i>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>