<div class="edu-breadcrumb-area breadcrumb-style-3">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="edu-breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Blogs
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="edu-breadcrum-area mt-4">
    <div class="section-title section-center" data-sal="slide-up" data-sal-duration="800">
        <h3 class="title">BLOGS</h3>
    </div>
</div>

<!--=====================================-->
<!--=        Event Area Start         =-->
<!--=====================================-->
<div class="edu-event-area event-area-1 section-gap-equal">
    <div class="container">
        <div class="row g-5">
            <!-- Start Single Course  -->
            <div class="col-lg-3 col-md-6 isotope-item undergraduate online">
                <div class="edu-event event-style-1">
                    <div class="inner bx-shadow">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/images/course/bs-3.webp" alt="Blog Images" />
                            </a>
                            <!-- <div class="event-time">
                                  <span><i class="icon-33"></i>08:00AM-10:00PM</span>
                              </div> -->
                        </div>
                        <div class="content">
                            <div class="event-date">
                                <span class="day">02</span>
                                <span class="month">AUG</span>
                            </div>
                            <h5 class="title">
                                <a href="#">CA FINAL BEST SCMPE ONLINE CLASSES</a>
                            </h5>
                            <p>
                                The main objectives of SCMPE are to apply different
                                types of cost management techniques for planning and
                                controlling...
                            </p>

                            <div class="read-more-btn">
                                <a class="edu-btn btn-small" href="#">Learn More <i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Course  -->
            <!-- Start Single Course  -->
            <div class="col-lg-3 col-md-6 isotope-item undergraduate">
                <div class="edu-event event-style-1">
                    <div class="inner bx-shadow">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/images/course/ps-2.webp" alt="Blog Images" />
                            </a>
                        </div>
                        <div class="content">
                            <div class="event-date">
                                <span class="day">05</span>
                                <span class="month">AUG</span>
                            </div>
                            <h5 class="title">
                                <a href="#">CA FINAL BEST FRM ONLINE CLASSES</a>
                            </h5>
                            <p>
                                The CA Final syllabus has an optional paper where
                                students can choose one from six available options. The
                                examination is designed to be an
                            </p>

                            <div class="read-more-btn">
                                <a class="edu-btn btn-small" href="#">Learn More <i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Course  -->
            <!-- Start Single Course  -->
            <div class="col-lg-3 col-md-6 isotope-item undergraduate online">
                <div class="edu-event event-style-1">
                    <div class="inner bx-shadow">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/images/course/bs-4.webp" alt="Blog Images" />
                            </a>
                        </div>
                        <div class="content">
                            <div class="event-date">
                                <span class="day">08</span>
                                <span class="month">AUG</span>
                            </div>
                            <h5 class="title">
                                <a href="#">CA FINAL BEST SFM ONLINE CLASSES</a>
                            </h5>
                            <p>
                                The study of Strategic Financial Management is essential
                                for any student trying to make a career in the industry
                                and that is why they need CA FINAL
                            </p>

                            <div class="read-more-btn">
                                <a class="edu-btn btn-small" href="#">Learn More <i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Course  -->
            <!-- Start Single Course  -->
            <div class="col-lg-3 col-md-6 isotope-item undergraduate online">
                <div class="edu-event event-style-1">
                    <div class="inner bx-shadow">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/images/course/ps-4.webp" alt="Blog Images" />
                            </a>
                        </div>
                        <div class="content">
                            <div class="event-date">
                                <span class="day">08</span>
                                <span class="month">AUG</span>
                            </div>
                            <h5 class="title">
                                <a href="#">CA FINAL BEST SFM ONLINE CLASSES</a>
                            </h5>
                            <p>
                                The study of Strategic Financial Management is essential
                                for any student trying to make a career in the industry
                                and that is why they need CA FINAL
                            </p>

                            <div class="read-more-btn">
                                <a class="edu-btn btn-small" href="#">Learn More <i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Course  -->
        </div>


        <ul class="edu-pagination ">
            <li><a href="#" aria-label="Previous"><i class="icon-west"></i></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="more-next"><a href="#"></a></li>
            <li><a href="#">8</a></li>
            <li><a href="#" aria-label="Next"><i class="icon-east"></i></a></li>
        </ul>

    </div>
</div>