@{
    ViewData["Title"] = "Home Page";
}

<div>
    <!-- test-series starts -->
    <div class="test-series pt-10rem">
        <div class="alert-box">
            <div class="alert alert-orange alert-dismissible fade show"
                 role="alert">
                <p class="text-center">
                    Purchase Enquiry : 9836832223 | Support : (10:00 AM to
                    7:30 PM) : 9051399390
                </p>
                <button type="button"
                        class="btn-close text-white"
                        data-bs-dismiss="alert"
                        aria-label="Close"></button>
            </div>
        </div>
        <div class="container edublink-animated-shape">
            <div class="row"
                 data-sal-delay="150"
                 data-sal="slide-up"
                 data-sal-duration="800">
                <div class="col-lg-3 mb-3 col-xs-6">
                    <div class="cardTest">
                        <img src="~/images/icons/book2.gif" class="avatar" />
                        <h1 class="titleTest">CA FINAL</h1>
                        <div class="content d-flex align-items-center mt-4">
                            <a asp-area="Customer" asp-controller="Product" asp-action="Index" class="edu-btn btn-secondary btn-small">View Course</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 mb-3 col-xs-6">
                    <div class="cardTest">
                        <img src="~/images/icons/notebook.gif" class="avatar" />
                        <h1 class="titleTest">CA INTER</h1>
                        <div class="content d-flex align-items-center mt-4">
                            <a asp-area="Customer" asp-controller="Product" asp-action="Index" class="edu-btn btn-secondary btn-small">View Course</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 mb-3 col-xs-6">
                    <div class="cardTest">
                        <img src="~/images/icons/book.gif" class="avatar" />
                        <h1 class="titleTest">BEST BOOKS</h1>
                        <div class="content d-flex align-items-center mt-4">
                            <a asp-area="Customer" asp-controller="Product" asp-action="Index" class="edu-btn btn-secondary btn-small">View Course</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 mb-3 col-xs-6">
                    <div class="cardTest">
                        <img src="~/images/icons/book3.gif" class="avatar" />
                        <h1 class="titleTest">CMA</h1>
                        <div class="content d-flex align-items-center mt-4">
                            <a asp-area="Customer" asp-controller="Product" asp-action="Index" class="edu-btn btn-secondary btn-small">View Course</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--test-series ends -->
    <!-- slider ends -->
    <!-- video lecture starts -->
    <div class="video-lecture section-gap-large">
        <div class="container edublink-animated-shape">
            <div class="section-title section-center"
                 data-sal-delay="150"
                 data-sal="slide-up"
                 data-sal-duration="800">
                <div class="d-flex align-items-center justify-content-between heading-bg">
                    <div class="heading">CA Lectures</div>

                    <div>
                        <a asp-area="Customer" asp-controller="Product" asp-action="Index" class="btn btn-sm view-btn">View all</a>
                    </div>
                </div>
            </div>
            <div class="slider slider-nav">
                <div class="edu-course course-style-1 hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <a asp-area="Customer" asp-controller="Product" asp-action="Details">
                                <img src="~/images/course/ps-1.webp"
                                     alt="Course Meta" />
                            </a>
                            <div class="time-top">
                                <span class="duration pink-gradient">
                                    <!-- <i class="icon-61"></i> -->
                                    CA FOUNDATION
                                </span>
                            </div>
                        </div>
                        <div class="content">
                            <h6 class="title">
                                <a href="#">
                                    CA Foundation Principles of Accounting
                                </a>
                            </h6>

                            <div class="mb-3">
                                <a href="" class="faculty_name">CA Praveen Sharma</a>
                            </div>

                            <div class="course-price">
                                <span class="ori_price"><i class="fa-solid fa-indian-rupee-sign"></i>4999</span>
                                <span class="del-price">
                                    <i class="fa-solid fa-indian-rupee-sign"></i>6999
                                </span>
                                <span class="dis_price">
                                    <i class="fa-solid fa-indian-rupee-sign"></i>2000 off
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="course-hover-content-wrapper">
                        <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                    </div>

                    <div class="course-hover-content">
                        <div class="content">
                            <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                            <span class="course-level">Regular Batch</span>
                            <h6 class="title">
                                <a href="#">CA Foundation Practices of Accounting</a>
                            </h6>

                            <!-- <ul class="course-meta">
                                              <li><i class="icon-24"></i>13 Lessons</li>
                                              <li><i class="icon-25"></i>28 Students</li>
                                          </ul> -->
                            <a href="#" class="edu-btn btn-small mt-4">
                                View <i class="icon-4"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="edu-course course-style-1 hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/images/course/ps-2.webp"
                                     alt="Course Meta" />
                            </a>
                            <div class="time-top">
                                <span class="duration blue-gradient">
                                    <!-- <i class="icon-61"></i> -->
                                    CA FINAL
                                </span>
                            </div>
                        </div>
                        <div class="content">
                            <h6 class="title">
                                <a href="#">
                                    CA Final Principles and Practices of Accounting
                                </a>
                            </h6>

                            <div class="mb-3">
                                <a href="" class="faculty_name">CA Praveen Sharma</a>
                            </div>

                            <div class="course-price">
                                <span class="ori_price"><i class="fa-solid fa-indian-rupee-sign"></i>4999</span>
                                <span class="del-price">
                                    <i class="fa-solid fa-indian-rupee-sign"></i>6999
                                </span>
                                <span class="dis_price">
                                    <i class="fa-solid fa-indian-rupee-sign"></i>2000 off
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="course-hover-content-wrapper">
                        <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                    </div>

                    <div class="course-hover-content">
                        <div class="content">
                            <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                            <span class="course-level">Regular Batch</span>
                            <h6 class="title">
                                <a href="#">
                                    CA Final Principles and Practices of Accounting Regular
                                    Batch
                                </a>
                            </h6>

                            <!-- <ul class="course-meta">
                                              <li><i class="icon-24"></i>13 Lessons</li>
                                              <li><i class="icon-25"></i>28 Students</li>
                                          </ul> -->
                            <a href="#" class="edu-btn btn-small mt-4">
                                View <i class="icon-4"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="edu-course course-style-1 hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/images/course/ps-3.webp"
                                     alt="Course Meta" />
                            </a>
                            <div class="time-top">
                                <span class="duration dark-blue">
                                    <!-- <i class="icon-61"></i> -->
                                    CA INTER
                                </span>
                            </div>
                        </div>
                        <div class="content">
                            <h6 class="title">
                                <a href="#">
                                    CA Inter Principles and Practices of Accounting
                                </a>
                            </h6>

                            <div class="mb-3">
                                <a href="" class="faculty_name">CA Praveen Sharma</a>
                            </div>

                            <div class="course-price">
                                <span class="ori_price"><i class="fa-solid fa-indian-rupee-sign"></i>4999</span>
                                <span class="del-price">
                                    <i class="fa-solid fa-indian-rupee-sign"></i>6999
                                </span>
                                <span class="dis_price">
                                    <i class="fa-solid fa-indian-rupee-sign"></i>2000 off
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="course-hover-content-wrapper">
                        <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                    </div>

                    <div class="course-hover-content">
                        <div class="content">
                            <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                            <span class="course-level">Regular Batch</span>
                            <h6 class="title">
                                <a href="#">
                                    CA Inter Principles and Practices of Accounting Regular
                                    Batch
                                </a>
                            </h6>

                            <!-- <ul class="course-meta">
                                              <li><i class="icon-24"></i>13 Lessons</li>
                                              <li><i class="icon-25"></i>28 Students</li>
                                          </ul> -->
                            <a href="#" class="edu-btn btn-small mt-4">
                                View <i class="icon-4"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="edu-course course-style-1 hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/images/course/ps-4.webp"
                                     alt="Course Meta" />
                            </a>
                            <div class="time-top">
                                <span class="duration purple-gradient">
                                    <!-- <i class="icon-61"></i> -->
                                    CA FINAL
                                </span>
                            </div>
                        </div>
                        <div class="content">
                            <h6 class="title">
                                <a href="#">
                                    CA Final Principles and Practices of Accounting
                                </a>
                            </h6>

                            <div class="mb-3">
                                <a href="" class="faculty_name">CA Praveen Sharma</a>
                            </div>

                            <div class="course-price">
                                <span class="ori_price"><i class="fa-solid fa-indian-rupee-sign"></i>4999</span>
                                <span class="del-price">
                                    <i class="fa-solid fa-indian-rupee-sign"></i>6999
                                </span>
                                <span class="dis_price">
                                    <i class="fa-solid fa-indian-rupee-sign"></i>2000 off
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="course-hover-content-wrapper">
                        <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                    </div>

                    <div class="course-hover-content">
                        <div class="content">
                            <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                            <span class="course-level">Regular Batch</span>
                            <h6 class="title">
                                <a href="#">
                                    CA Final Principles and Practices of Accounting Regular
                                    Batch
                                </a>
                            </h6>

                            <!-- <ul class="course-meta">
                                              <li><i class="icon-24"></i>13 Lessons</li>
                                              <li><i class="icon-25"></i>28 Students</li>
                                          </ul> -->
                            <a href="#" class="edu-btn btn-small mt-4">
                                View <i class="icon-4"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="edu-course course-style-1 hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/images/course/ps-2.webp"
                                     alt="Course Meta" />
                            </a>
                            <div class="time-top">
                                <span class="duration pink-gradient">
                                    <!-- <i class="icon-61"></i> -->
                                    CA FOUNDATION
                                </span>
                            </div>
                        </div>
                        <div class="content">
                            <h6 class="title">
                                <a href="#">
                                    CA Foundation Practices of Accounting
                                </a>
                            </h6>

                            <div class="mb-3">
                                <a href="" class="faculty_name">CA Praveen Sharma</a>
                            </div>

                            <div class="course-price">
                                <span class="ori_price"><i class="fa-solid fa-indian-rupee-sign"></i>4999</span>
                                <span class="del-price">
                                    <i class="fa-solid fa-indian-rupee-sign"></i>6999
                                </span>
                                <span class="dis_price">
                                    <i class="fa-solid fa-indian-rupee-sign"></i>2000 off
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="course-hover-content-wrapper">
                        <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                    </div>

                    <div class="course-hover-content">
                        <div class="content">
                            <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                            <span class="course-level">Regular Batch</span>
                            <h6 class="title">
                                <a href="#">
                                    CA Foundation Principles and Practices of Accounting
                                    Regular Batch
                                </a>
                            </h6>

                            <!-- <ul class="course-meta">
                                              <li><i class="icon-24"></i>13 Lessons</li>
                                              <li><i class="icon-25"></i>28 Students</li>
                                          </ul> -->
                            <a href="#" class="edu-btn btn-small">
                                View <i class="icon-4"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="edu-course course-style-1 hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/images/course/ps-3.webp"
                                     alt="Course Meta" />
                            </a>
                            <div class="time-top">
                                <span class="duration blue-gradient">
                                    <!-- <i class="icon-61"></i> -->
                                    CA FINAL
                                </span>
                            </div>
                        </div>
                        <div class="content">
                            <h6 class="title">
                                <a href="#">
                                    CA Final Principles and Practices of Accounting
                                </a>
                            </h6>

                            <div class="mb-3">
                                <a href="" class="faculty_name">CA Praveen Sharma</a>
                            </div>

                            <div class="course-price">
                                <span class="ori_price"><i class="fa-solid fa-indian-rupee-sign"></i>4999</span>
                                <span class="del-price">
                                    <i class="fa-solid fa-indian-rupee-sign"></i>6999
                                </span>
                                <span class="dis_price">
                                    <i class="fa-solid fa-indian-rupee-sign"></i>2000 off
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="course-hover-content-wrapper">
                        <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                    </div>

                    <div class="course-hover-content">
                        <div class="content">
                            <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                            <span class="course-level">Regular Batch</span>
                            <h6 class="title">
                                <a href="#">
                                    CA Final Principles and Practices of Accounting
                                </a>
                            </h6>

                            <!-- <ul class="course-meta">
                                              <li><i class="icon-24"></i>13 Lessons</li>
                                              <li><i class="icon-25"></i>28 Students</li>
                                          </ul> -->
                            <a href="#" class="edu-btn btn-small mt-4">
                                View <i class="icon-4"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- video lecture ends -->
    <!-- books area starts -->
    <div class="books gap-lg-bottom-equal bg-lighten04 pt-5rem">
        <div class="container edublink-animated-shape">
            <div class="section-title section-center"
                 data-sal-delay="150"
                 data-sal="slide-up"
                 data-sal-duration="800">
                <div class="d-flex align-items-center justify-content-between heading-bg">
                    <div class="heading">Books</div>
                    <div>
                        <a href="#" class="btn btn-sm view-btn">View all</a>
                    </div>
                </div>
            </div>
            <div class="slider slider-book">
                <div class="edu-course course-style-1 hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/images/course/bs-1.webp"
                                     alt="Course Meta" />
                            </a>
                            <div class="time-top">
                                <span class="duration purple-gradient">
                                    <!-- <i class="icon-61"></i> -->
                                    New Release
                                </span>
                            </div>
                        </div>
                        <div class="content">
                            <!-- <span class="course-level">Advanced</span> -->
                            <h6 class="title">
                                <a href="#">
                                    CA Inter-GST Reboot-A Book for questions practice & quick
                                    revision
                                </a>
                            </h6>

                            <div class="mb-3">
                                <a href="" class="faculty_name">Topclasses Education</a>
                            </div>

                            <div class="course-price">
                                <span class="ori_price"><i class="fa-solid fa-indian-rupee-sign"></i>4999</span>
                                <span class="del-price">
                                    <i class="fa-solid fa-indian-rupee-sign"></i>6999
                                </span>
                            </div>

                            <div class="course-hover-content-wrapper">
                                <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                            </div>

                            <div class="course-hover-content">
                                <div class="content">
                                    <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                                    <span class="course-level">Regular Batch</span>
                                    <h6 class="title">
                                        <a href="#">
                                            CA Foundation Principles and Practices of Accounting
                                            Regular Batch
                                        </a>
                                    </h6>

                                    <!-- <ul class="course-meta">
                                                          <li><i class="icon-24"></i>13 Lessons</li>
                                                          <li><i class="icon-25"></i>28 Students</li>
                                                      </ul> -->
                                    <a href="#" class="edu-btn btn-small mt-4">
                                        View <i class="icon-4"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="edu-course course-style-1 hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/images/course/bs-2.webp"
                                     alt="Course Meta" />
                            </a>
                            <div class="time-top">
                                <span class="duration dark-blue">
                                    <!-- <i class="icon-61"></i> -->
                                    New Release
                                </span>
                            </div>
                        </div>
                        <div class="content">
                            <!-- <span class="course-level">Advanced</span> -->
                            <h6 class="title">
                                <a href="#">
                                    CA Inter-GST Reboot-A Book for questions practice & quick
                                    revision
                                </a>
                            </h6>

                            <div class="mb-3">
                                <a href="" class="faculty_name">topclasses Education</a>
                            </div>

                            <div class="course-price">
                                <span class="ori_price"><i class="fa-solid fa-indian-rupee-sign"></i>4999</span>
                                <span class="del-price">
                                    <i class="fa-solid fa-indian-rupee-sign"></i>6999
                                </span>
                            </div>

                            <div class="course-hover-content-wrapper">
                                <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                            </div>

                            <div class="course-hover-content">
                                <div class="content">
                                    <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                                    <span class="course-level">Regular Batch</span>
                                    <h6 class="title">
                                        <a href="#">
                                            CA Foundation Principles and Practices of Accounting
                                            Regular Batch
                                        </a>
                                    </h6>

                                    <!-- <ul class="course-meta">
                                                          <li><i class="icon-24"></i>13 Lessons</li>
                                                          <li><i class="icon-25"></i>28 Students</li>
                                                      </ul> -->
                                    <a href="#" class="edu-btn btn-small mt-4">
                                        View <i class="icon-4"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="edu-course course-style-1 hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/images/course/bs-3.webp"
                                     alt="Course Meta" />
                            </a>
                            <div class="time-top">
                                <span class="duration pink-gradient">
                                    <!-- <i class="icon-61"></i> -->
                                    New Release
                                </span>
                            </div>
                        </div>
                        <div class="content">
                            <!-- <span class="course-level">Advanced</span> -->
                            <h6 class="title">
                                <a href="#">
                                    CA Inter-GST Reboot-A Book for questions practice & quick
                                    revision
                                </a>
                            </h6>

                            <div class="mb-3">
                                <a href="" class="faculty_name">Topclasses Education</a>
                            </div>

                            <div class="course-price">
                                <span class="ori_price"><i class="fa-solid fa-indian-rupee-sign"></i>4999</span>
                                <span class="del-price">
                                    <i class="fa-solid fa-indian-rupee-sign"></i>6999
                                </span>
                            </div>

                            <div class="course-hover-content-wrapper">
                                <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                            </div>

                            <div class="course-hover-content">
                                <div class="content">
                                    <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                                    <span class="course-level">Regular Batch</span>
                                    <h6 class="title">
                                        <a href="#">
                                            CA Foundation Principles and Practices of Accounting
                                            Regular Batch
                                        </a>
                                    </h6>

                                    <!-- <ul class="course-meta">
                                                          <li><i class="icon-24"></i>13 Lessons</li>
                                                          <li><i class="icon-25"></i>28 Students</li>
                                                      </ul> -->
                                    <a href="#" class="edu-btn btn-small mt-4">
                                        View <i class="icon-4"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="edu-course course-style-1 hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/images/course/bs-4.webp"
                                     alt="Course Meta" />
                            </a>
                            <div class="time-top">
                                <span class="duration dark-blue">
                                    <!-- <i class="icon-61"></i> -->
                                    New Release
                                </span>
                            </div>
                        </div>
                        <div class="content">
                            <!-- <span class="course-level">Advanced</span> -->
                            <h6 class="title">
                                <a href="#">
                                    CA Inter-GST Reboot-A Book for questions practice & quick
                                    revision
                                </a>
                            </h6>

                            <div class="mb-3">
                                <a href="" class="faculty_name">Topclasses Education</a>
                            </div>

                            <div class="course-price">
                                <span class="ori_price"><i class="fa-solid fa-indian-rupee-sign"></i>4999</span>
                                <span class="del-price">
                                    <i class="fa-solid fa-indian-rupee-sign"></i>6999
                                </span>
                            </div>

                            <div class="course-hover-content-wrapper">
                                <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                            </div>

                            <div class="course-hover-content">
                                <div class="content">
                                    <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                                    <span class="course-level">Regular Batch</span>
                                    <h6 class="title">
                                        <a href="#">
                                            CA Foundation Principles and Practices of Accounting
                                            Regular Batch
                                        </a>
                                    </h6>

                                    <!-- <ul class="course-meta">
                                                          <li><i class="icon-24"></i>13 Lessons</li>
                                                          <li><i class="icon-25"></i>28 Students</li>
                                                      </ul> -->
                                    <a href="#" class="edu-btn btn-small mt-4">
                                        View <i class="icon-4"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="edu-course course-style-1 hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/images/course/bs-2.webp"
                                     alt="Course Meta" />
                            </a>
                            <div class="time-top">
                                <span class="duration purple-gradient">
                                    <!-- <i class="icon-61"></i> -->
                                    New Release
                                </span>
                            </div>
                        </div>
                        <div class="content">
                            <!-- <span class="course-level">Advanced</span> -->
                            <h6 class="title">
                                <a href="#">
                                    CA Inter-GST Reboot-A Book for questions practice & quick
                                    revision
                                </a>
                            </h6>

                            <div class="mb-3">
                                <a href="" class="faculty_name">Topclasses Education</a>
                            </div>

                            <div class="course-price">
                                <span class="ori_price"><i class="fa-solid fa-indian-rupee-sign"></i>4999</span>
                                <span class="del-price">
                                    <i class="fa-solid fa-indian-rupee-sign"></i>6999
                                </span>
                            </div>

                            <div class="course-hover-content-wrapper">
                                <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                            </div>

                            <div class="course-hover-content">
                                <div class="content">
                                    <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                                    <span class="course-level">Regular Batch</span>
                                    <h6 class="title">
                                        <a href="#">
                                            CA Foundation Principles and Practices of Accounting
                                            Regular Batch
                                        </a>
                                    </h6>

                                    <!-- <ul class="course-meta">
                                                          <li><i class="icon-24"></i>13 Lessons</li>
                                                          <li><i class="icon-25"></i>28 Students</li>
                                                      </ul> -->
                                    <a href="#" class="edu-btn btn-small mt-4">
                                        View <i class="icon-4"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="edu-course course-style-1 hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/images/course/bs-4.webp"
                                     alt="Course Meta" />
                            </a>
                            <div class="time-top">
                                <span class="duration purple-gradient">
                                    <!-- <i class="icon-61"></i> -->
                                    New Release
                                </span>
                            </div>
                        </div>
                        <div class="content">
                            <!-- <span class="course-level">Advanced</span> -->
                            <h6 class="title">
                                <a href="#">
                                    CA Inter-GST Reboot-A Book for questions practice & quick
                                    revision
                                </a>
                            </h6>

                            <div class="mb-3">
                                <a href="" class="faculty_name">Topclasses Education</a>
                            </div>

                            <div class="course-price">
                                <span class="ori_price"><i class="fa-solid fa-indian-rupee-sign"></i>4999</span>
                                <span class="del-price">
                                    <i class="fa-solid fa-indian-rupee-sign"></i>6999
                                </span>
                            </div>

                            <div class="course-hover-content-wrapper">
                                <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                            </div>

                            <div class="course-hover-content">
                                <div class="content">
                                    <!-- <button class="wishlist-btn"><i class="icon-22"></i></button> -->
                                    <span class="course-level">Regular Batch</span>
                                    <h6 class="title">
                                        <a href="#">
                                            CA Foundation Principles and Practices of Accounting
                                            Regular Batch
                                        </a>
                                    </h6>

                                    <!-- <ul class="course-meta">
                                                          <li><i class="icon-24"></i>13 Lessons</li>
                                                          <li><i class="icon-25"></i>28 Students</li>
                                                      </ul> -->
                                    <a href="#" class="edu-btn btn-small mt-4">
                                        View <i class="icon-4"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- books area ends -->

    <div class="edu-course-area course-area-3 section-gap-large pt-5rem">
        <div class="container">
            <div class="section-title section-center"
                 data-sal-delay="150"
                 data-sal="slide-up"
                 data-sal-duration="800">
                <!-- <span class="pre-title">our Blogs</span> -->
            </div>
            <div class="isotope-wrapper mt-4">
                <div class="isotop-button isotop-filter">
                    <button data-filter=".undergraduate" class="is-checked">
                        <span class="filter-text">CA BLOGS</span>
                    </button>
                    <button data-filter=".graduate">
                        <span class="filter-text">ACCA BLOGS</span>
                    </button>
                    <button data-filter=".online">
                        <span class="filter-text">CPA/CMA BLOGS</span>
                    </button>
                </div>
                <div class="row g-5 isotope-list">
                    <!-- Start Single Course  -->
                    <div class="col-lg-3 col-md-6 isotope-item undergraduate graduate">
                        <div class="edu-event event-style-1">
                            <div class="inner bx-shadow">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img src="~/images/course/bs-3.webp"
                                             alt="Blog Images" />
                                    </a>
                                    <!-- <div class="event-time">
                                                      <span><i class="icon-33"></i>08:00AM-10:00PM</span>
                                                  </div> -->
                                </div>
                                <div class="content">
                                    <div class="event-date">
                                        <span class="day">02</span>
                                        <span class="month">AUG</span>
                                    </div>
                                    <h5 class="title">
                                        <a href="#">CA FINAL BEST SCMPE ONLINE CLASSES</a>
                                    </h5>
                                    <p>
                                        The main objectives of SCMPE are to apply different
                                        types of cost management techniques for planning and
                                        controlling...
                                    </p>

                                    <div class="read-more-btn">
                                        <a class="edu-btn btn-small" href="#">
                                            Learn More <i class="icon-4"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Course  -->
                    <!-- Start Single Course  -->
                    <div class="col-lg-3 col-md-6 isotope-item undergraduate graduate">
                        <div class="edu-event event-style-1">
                            <div class="inner bx-shadow">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img src="~/images/course/ps-2.webp"
                                             alt="Blog Images" />
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="event-date">
                                        <span class="day">05</span>
                                        <span class="month">AUG</span>
                                    </div>
                                    <h5 class="title">
                                        <a href="#">CA FINAL BEST FRM ONLINE CLASSES</a>
                                    </h5>
                                    <p>
                                        The CA Final syllabus has an optional paper where
                                        students can choose one from six available options. The
                                        examination is designed to be an
                                    </p>

                                    <div class="read-more-btn">
                                        <a class="edu-btn btn-small" href="#">
                                            Learn More <i class="icon-4"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Course  -->
                    <!-- Start Single Course  -->
                    <div class="col-lg-3 col-md-6 isotope-item undergraduate online">
                        <div class="edu-event event-style-1">
                            <div class="inner bx-shadow">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img src="~/images/course/bs-4.webp"
                                             alt="Blog Images" />
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="event-date">
                                        <span class="day">08</span>
                                        <span class="month">AUG</span>
                                    </div>
                                    <h5 class="title">
                                        <a href="#">CA FINAL BEST SFM ONLINE CLASSES</a>
                                    </h5>
                                    <p>
                                        The study of Strategic Financial Management is essential
                                        for any student trying to make a career in the industry
                                        and that is why they need CA FINAL
                                    </p>

                                    <div class="read-more-btn">
                                        <a class="edu-btn btn-small" href="#">
                                            Learn More <i class="icon-4"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Course  -->
                    <!-- Start Single Course  -->
                    <div class="col-lg-3 col-md-6 isotope-item undergraduate online">
                        <div class="edu-event event-style-1">
                            <div class="inner bx-shadow">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img src="~/images/course/ps-4.webp"
                                             alt="Blog Images" />
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="event-date">
                                        <span class="day">08</span>
                                        <span class="month">AUG</span>
                                    </div>
                                    <h5 class="title">
                                        <a href="#">CA FINAL BEST SFM ONLINE CLASSES</a>
                                    </h5>
                                    <p>
                                        The study of Strategic Financial Management is essential
                                        for any student trying to make a career in the industry
                                        and that is why they need CA FINAL
                                    </p>

                                    <div class="read-more-btn">
                                        <a class="edu-btn btn-small" href="#">
                                            Learn More <i class="icon-4"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Course  -->
                </div>
            </div>

            <div class="event-view-all-btn"
                 data-sal-delay="150"
                 data-sal="slide-up"
                 data-sal-duration="1200">
                <h6 class="view-text">
                    For All Blogs
                    <a href="#" class="btn-transparent">
                        View All <i class="icon-4"></i>
                    </a>
                </h6>
            </div>
        </div>
        <ul class="shape-group">
            <li class="shape-1">
                <img class="shape-light"
                     data-depth="2"
                     src="~/images/others/map-shape-3.png"
                     alt="Shape" />
                <img class="shape-dark"
                     data-depth="2"
                     src="~/images/others/3-Home-1.png"
                     alt="Shape" />
            </li>
            <li class="shape-2">
                <img class="shape-light"
                     data-depth="2"
                     src="~/images/others/map-shape-3.png"
                     alt="Shape" />
                <img class="shape-dark"
                     data-depth="2"
                     src="~/images/others/dark-map-shape-3.png"
                     alt="Shape" />
            </li>
        </ul>
    </div>

    <!-- Start CTA Area  -->
    <div class="home-one-cta-two cta-area-1">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-12">
                    <div class="home-one-cta edu-cta-box">
                        <div class="inner">
                            <div class="content">
                                <span class="subtitle">Need to speak with us? Give us a ring at</span>
                                <a href="tel:+#">+91-987-654-3210</a>
                            </div>
                        </div>
                        <ul class="shape-group">
                            <li class="shape-01 scene">
                                <img data-depth="2"
                                     src="~/images/cta/shape-06.png"
                                     alt="shape" />
                            </li>
                            <li class="shape-02 scene">
                                <img data-depth="-2"
                                     src="~/images/cta/shape-12.png"
                                     alt="shape" />
                            </li>
                            <li class="shape-03 scene">
                                <img data-depth="-3"
                                     src="~/images/cta/shape-04.png"
                                     alt="shape" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End CTA Area  -->
</div>