<div class="edu-breadcrumb-area breadcrumb-style-3">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="edu-breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Refund Policy
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="edu-breadcrum-area mt-4">
    <div class="section-title section-center sal-animate" data-sal="slide-up" data-sal-duration="800">
        <h3 class="title">Refund Policy</h3>
    </div>
</div>

<!--=====================================-->
<!--=        Gallery Area Start        	=-->
<!--=====================================-->
<div class="privacy-area edu-section-gap">
    <div class="container">
        <div class="policy-box">

            <p>
                Please read the terms and conditions carefully before selecting any of the courses, as once you
                have purchased a Course you cannot change, or cancel it. Once you purchase and make the required
                payment, it shall be final and there cannot be any changes or modifications to the same and
                neither will there be any refund.
            </p>

            <P><strong>Need help?</strong></P>

            <p>
                Contact us at <a class="text-danger"
                                 href="mailto;topclasses10@gmail.com">topclasses10@gmail.com</a> for questions related to
                refunds.
            </p>

        </div>
    </div>
</div>