@model List<Upcoming>

<div class="edu-breadcrumb-area breadcrumb-style-3">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="edu-breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Upcoming
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="edu-breadcrum-area mt-4">
    <div class="section-title section-center sal-animate" data-sal="slide-up" data-sal-duration="800">
        <h3 class="title">Upcoming</h3>
    </div>
</div>

<!--=====================================-->
<!--=        Gallery Area Start        	=-->
<!--=====================================-->
<div class="edu-gallery-area edu-section-gap" style="min-height: 60vh">
    <div class="container">
        <div class="isotope-wrapper">
            <div class="isotope-list gallery-grid-wrap">
                <div id="animated-thumbnials">


                    @foreach (var item in Model)
                    {
                        <a href="@item.ImageUrl"
                           class="edu-popup-image edu-gallery-grid p-gallery-grid-wrap isotope-item education">
                            <div class="thumbnail">
                                <img src="@item.ImageUrl" alt="Gallery Image">
                            </div>
                            <div class="zoom-icon">
                                <i class="icon-69"></i>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>