@model List<Faculty>


<div class="edu-breadcrumb-area breadcrumb-style-3">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="edu-breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item active" aria-current="page">
                    KNOW YOUR MENTOR
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="edu-breadcrum-area mt-4">
    <div class="section-title section-center" data-sal="slide-up" data-sal-duration="800">
        <h3 class="title">KNOW YOUR MENTOR</h3>
    </div>
</div>

<!--=====================================-->
<!--=        Team Area Start            =-->
<!--=====================================-->
<div class="edu-team-details-area section-gap-equal">
    <div class="container">
       
        @forEach(var faculty in Model){
        <div class="row row--40 instructor-gap align-items-center">
            <div class="col-lg-4 data-sal-delay=" 100" data-sal="slide-up" data-sal-duration="800" ">
                <div class=" team-details-thumb">
                    <div class="thumbnail">
                        <img src="~/images/team/1.jpg" alt="team">
                    </div>
                    <ul class="social-share">
                        <li><a href="#"><i class="icon-share-alt"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 data-sal-delay=" 100" data-sal="slide-up" data-sal-duration="800" ">
                <div class=" team-details-content">
                    <div class="main-info">
                        <span class="subtitle">Instructor</span>
                        <h3 class="title">CA Parveen Sharma</h3>
                        <span class="designation">CA</span>
                    </div>
                    <div class="bio-describe">
                        <p class="mb-1">
                            CA Parveen Sharma is a well-known Chartered Accountant and a prominent
                            faculty member
                            for CA Final FR classes. Here are some key points about CA Parveen Sharma
                        </p>
                        <ul class="mentor-points">
                            <li>
                                He graduated from Delhi University’s prestigious Sri Venkateswara College with
                                top honors.
                            </li>
                            <li>
                                He is an expert in Accountancy, having scored 100% in the subject at Delhi
                                University.
                            </li>
                            <li>
                                He has completed post-graduation in Indian Accounting Standards and US GAAP.
                            </li>
                            <li>
                                He is recognized as the “<strong>God of Accountancy</strong>” by
                                his students.
                            </li>
                            <li>He offers comprehensive course coverage with flexible validity options.</li>
                            <li>
                                His teaching style focuses on conceptual clarity and is well-liked by students.
                            </li>
                            <li>
                                He provides quality study materials and has been praised for his prompt service.
                            </li>
                            <li>
                                He is associated with Aldine CA, an initiative that aims to provide quality
                                education in Chartered Accountancy using next-gen technical progressions.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        }
        
        
        
        
        <div class="row row--40 instructor-gap align-items-center">
            <div class="col-lg-8 data-sal-delay=" 100" data-sal="slide-up" data-sal-duration="800" ">
                <div class=" team-details-content">
                    <div class="main-info">
                        <span class="subtitle">Instructor</span>
                        <h3 class="title">CA Raj Kumar</h3>
                        <span class="designation">CA</span>
                    </div>
                    <div class="bio-describe">
                        <p class="mb-3">
                            <strong>CA Raj Kumar</strong> is a dynamic & qualified Chartered
                            Accountant. As a
                            brilliant student and a position holder at Graduation & Post Graduation level,
                            <strong>during his 16+ years of lorious teaching experience</strong> in the field of
                            Indirect
                            Taxation <strong>he has taught over 1,65,000 students</strong>. He is a favourite
                            amongst CA Students
                            for the astute & insightful academic inputs provided by him and for his pleasing &
                            endearing personality and lucid art of teaching.
                        </p>
                        <p class="mb-3">
                            He firmly believes in blending studies with fun and this is quite
                            evident in his
                            classes where in he goes beyond theoretical reading of the subject, makes students
                            solve practical problems, gives them practical real life examples and pushes them to
                            achieve their goals with full precision.
                        </p>
                        <p class="mb-3">
                            In the subject of Indirect Tax Laws, his students have continued to
                            <strong>
                                score AIR #1 for
                                10 times & All India Highest Marks 11
                            </strong> times till now. He has also been
                            entrusted by
                            Government agencies to show the ropes to IRS Officers in training, which is a
                            testament to his caliber as a subject matter expert.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 data-sal-delay=" 100" data-sal="slide-up" data-sal-duration="800" ">
                <div class=" team-details-thumb">
                    <div class="thumbnail">
                        <img src="~/images/team/2.jpg" alt="team">
                    </div>
                    <ul class="social-share">
                        <li><a href="#"><i class="icon-share-alt"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row row--40 instructor-gap align-items-center">
            <div class="col-lg-4 data-sal-delay=" 100" data-sal="slide-up" data-sal-duration="800" ">
                <div class=" team-details-thumb">
                    <div class="thumbnail">
                        <img src="~/images/team/3.jpg" alt="team">
                    </div>
                    <ul class="social-share">
                        <li><a href="#"><i class="icon-share-alt"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 data-sal-delay=" 100" data-sal="slide-up" data-sal-duration="800" ">
                <div class=" team-details-content">
                    <div class="main-info">
                        <span class="subtitle">Instructor</span>
                        <h3 class="title">CA Amit Popli</h3>
                        <span class="designation">CA</span>
                    </div>
                    <div class="bio-describe">
                        <p class="mb-3">
                            <strong>CA Amit Popli</strong> is a Chartered Accountant and Insolvency
                            Professional. He
                            has been awarded by ICAI through Certificate of Appreciation for Teaching Law at
                            various Levels. He possesses a wide experience of teaching CA Students at all
                            streams. Currently he is associated with Aldine Ventures Private Limited i.e. A
                            Company Pioneered in imparting education to CA Students through Satellite Mode at
                            more than 150 locations in India.
                        </p>
                        <p class="mb-3">
                            He has also authored various books for CA-Inter and Final, which are
                            quite
                            appreciated by students
                        </p>
                        <p class="mb-1">Unique Features of his classes</p>
                        <ul class="mentor-points">
                            <li>100% Syllabus Coverage</li>
                            <li>Coloured Book with good number of charts</li>
                            <li>Use of Unique Animation Technology for teaching</li>
                            <li>
                                Real world examples and discussion on all recent scams/ incidence e.g. Satyam ,
                                IL & FS , Bhushan Steel take over, Hostile Takeover attempt of Mindtree Ltd by
                                Larsen & Toubro Ltd. etc, which will enable students to understand the concept
                                with in depth knowledge
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row--40 instructor-gap align-items-center">
            <div class="col-lg-8 data-sal-delay=" 100" data-sal="slide-up" data-sal-duration="800" ">
                <div class=" team-details-content">
                    <div class="main-info">
                        <span class="subtitle">Instructor</span>
                        <h3 class="title">CA Pankaj Garg</h3>
                        <span class="designation">CA</span>
                    </div>
                    <div class="bio-describe">
                        <p class="mb-3">
                            <strong>CA Pankaj Garg</strong> is a Fellow member of Institute of
                            Chartered Accountants of India and
                            also a Company Secretary and Cost Accountant. He is an All India topper of Institute
                            of Cost Accountants, Kolkata. He has also been awarded with Gold Medal by ICAI
                            Kolkata. He possesses a vast experience of teaching to students of CA Final and CA
                            Inter. At present he is associated with Aldine Ventures Pvt. Ltd. to provide
                            satellite classes for Audit Subject at both CA Final and Inter Level. He has
                            authored the books for Inter and Final – Law and Audit for Taxmann Publications and
                            very much appreciated by the students due to use of tabular presentation, simple and
                            concise language, flowcharts and coverage of all Past Examinations. Objective of
                            launching ALT Classes is to make available the enriched content for the Subject of
                            Audit, Law and Taxation for both Intermediate and Final Level.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 data-sal-delay=" 100" data-sal="slide-up" data-sal-duration="800" ">
                <div class=" team-details-thumb">
                    <div class="thumbnail">
                        <img src="~/images/team/4.jpg" alt="team">
                    </div>
                    <ul class="social-share">
                        <li><a href="#"><i class="icon-share-alt"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row row--40 instructor-gap align-items-center">
            <div class="col-lg-4 data-sal-delay=" 100" data-sal="slide-up" data-sal-duration="800" ">
                <div class=" team-details-thumb">
                    <div class="thumbnail">
                        <img src="~/images/team/5.jpg" alt="team">
                    </div>
                    <ul class="social-share">
                        <li><a href="#"><i class="icon-share-alt"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 data-sal-delay=" 100" data-sal="slide-up" data-sal-duration="800" ">
                <div class=" team-details-content">
                    <div class="main-info">
                        <span class="subtitle">Instructor</span>
                        <h3 class="title">CA Aaditya Jain</h3>
                        <span class="designation">CA</span>
                    </div>
                    <div class="bio-describe">
                        <p class="mb-3">
                            <strong>CA Aaditya Jain</strong> is well known amongst the students as
                            Finance Guru, the
                            Stock Market Guru with the motto of Learn More Earn More.
                        </p>
                        <p class="mb-3">
                            <strong>Aaditya Jain Sir</strong> is considered the best faculty for CA
                            /CMA Final
                            Advanced Financial Management (AFM) & Strategic Financial Management (SFM). His
                            video classes are the best AFM & SFM classes for CA/CMA Final in India and are
                            available for delivery in Pen Drive and Google Drive.
                            He is a qualified CA, MBA(FINANCE), NCFM, B.COM, M.COM. Currently teaching CA, CMA
                            Final & CA, CMA Inter students All Over India. Having vast experience of teaching
                            CA, CMA Inter FM, CA Final AFM, CMA Final SFM faculty at New Delhi for the last 20
                            years and also a visiting faculty of ICAI.
                        </p>
                        <p class="mb-3">
                            His classes are a perfect blend of Concepts and Practical knowledge. His
                            classes are
                            not only exam-oriented but job-oriented as well, as he helps the students to explore
                            various career opportunities during the batch.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row--40 instructor-gap align-items-center">
            <div class="col-lg-8 data-sal-delay=" 100" data-sal="slide-up" data-sal-duration="800" ">
                <div class=" team-details-content">
                    <div class="main-info">
                        <span class="subtitle">Instructor</span>
                        <h3 class="title">CA Aarish Khan</h3>
                        <span class="designation">CA</span>
                    </div>
                    <div class="bio-describe">
                        <p class="mb-3">
                            <strong>CA Aarish Khan</strong> embarked on his teaching journey in
                            2012, making a mark
                            early on by securing the All-India highest score in the Taxation Paper during his CA
                            Final Exams. He is the founder of <strong>Aarish Khan Classes</strong>, a leading
                            online coaching
                            platform. Alongside his teaching career, he practices as a Chartered Accountant,
                            allowing him to bring valuable real-world insights into the classroom.
                        </p>
                        <p class="mb-1">
                            Over the past decade, he has taught a diverse array of subjects,
                            including:
                        </p>
                        <ul class="mentor-points mb-3">
                            <li><strong>Direct Tax</strong> at CA Final & Inter levels.</li>
                            <li><strong>International Taxation (Elective Paper)</strong>.</li>
                            <li><strong>Indirect Taxes</strong> at both CA Inter & Final levels.</li>
                            <li><strong>Financial Management</strong> at CA Inter.</li>
                            <li><strong>Mathematics</strong> at CA Foundation</li>
                        </ul>
                        <p class="mb-3">
                            Although he has experience in teaching multiple subjects, his expertise
                            shines
                            brightest in <strong>Direct Tax</strong> and <strong>
                                International Taxation (Paper
                                6C)
                            </strong>. With over 100,000
                            students taught across India, his reputation as a top-tier educator is
                            well-established.
                        </p>
                        <p class="mb-3">
                            What sets CA Aarish Khan apart is his unique teaching approach. Rather
                            than promoting
                            rote memorization, he focuses on helping students grasp the underlying logic behind
                            each tax provision. His philosophy, “If you know why, you’ll know how,” encourages a
                            deep understanding of the subject, making it easier for students to apply their
                            knowledge in practical situations.
                        </p>
                        <p>
                            He also provides students with his acclaimed <strong>Coloured EASY NOTES</strong>,
                            along with
                            <strong>Comprehensive Revision Videos</strong> designed for last-minute preparation,
                            which have
                            received widespread appreciation from students nationwide.
                        </p>
                        <p>
                            Above all, CA Aarish Khan is renowned for his accessibility and dedication to his
                            students. He is always available to clear doubts—a crucial aspect given the complex
                            and evolving nature of Direct Taxation.
                        </p>
                        <p>
                            <strong>
                                Put your trust in CA Aarish Khan, and you’ll discover a newfound love for
                                Taxation!
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 data-sal-delay=" 100" data-sal="slide-up" data-sal-duration="800" ">
                <div class=" team-details-thumb">
                    <div class="thumbnail">
                        <img src="~/images/team/6.jpg" alt="team">
                    </div>
                    <ul class="social-share">
                        <li><a href="#"><i class="icon-share-alt"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row row--40 instructor-gap align-items-center">
            <div class="col-lg-4 data-sal-delay=" 100" data-sal="slide-up" data-sal-duration="800" ">
                <div class=" team-details-thumb">
                    <div class="thumbnail">
                        <img src="~/images/team/7.jpg" alt="team">
                    </div>
                    <ul class="social-share">
                        <li><a href="#"><i class="icon-share-alt"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 data-sal-delay=" 100" data-sal="slide-up" data-sal-duration="800" ">
                <div class=" team-details-content">
                    <div class="main-info">
                        <span class="subtitle">Instructor</span>
                        <h3 class="title">Prof. Archana Khetan</h3>
                        <span class="designation">PROFESSOR</span>
                    </div>
                    <div class="bio-describe">
                        <p class="mb-3"><strong>Transforming lives through excellence in education</strong></p>
                        <p class="mb-3">
                            Archana Khetan is a visionary, entrepreneur and education enthusiast and
                            stronglybelieves in availability of quality pedagogy and mentorship for everyone.
                            With decades of academic and industry experience she has developed a unique style
                            and teaching methodology that has helped transform thousands of students. Her aim is
                            to teach and nurture professionals and future leaders in the field of finance and
                            Risk Management.
                        </p>
                        <p class="mb-3">
                            Archana Khetan holds a Master’s degree in finance (M S Finance) and a
                            CFA, (ICFAI, Hyderabad). An academician at heart she brings years of in-depth
                            industry experience having worked with Religare Finvest as Manager, of Invest
                            banking. As a professional investment banker, she has extensive experience in debt
                            syndication, IPO Pre-placement, corporate finance, institutional sales of mutual
                            funds, valuation, and analysis for mergers & acquisitions. She has been closely
                            associated with WIRC, and ICAI and has been invited as guest faculty for SFM for the
                            last many terms.
                        </p>

                        <p class="mb-3">
                            Her teaching style is a good combination of base building through focus
                            on
                            fundamental concepts, rigorous practice, and development of problem-solving skills.
                            She has gained a lot of popularity among students all over India and abroad for
                            making the toughest of topics simplistic and solving them through basic easy to
                            remember thumb rules, the same being a prerequisite from the institute’s (ICAI,
                            ICSI, ICWA, CFA, FRM - GARP, etc.) point of view and the standard of papers being
                            set according to the latest Trends.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row--40 instructor-gap align-items-center">
            <div class="col-lg-8 data-sal-delay=" 100" data-sal="slide-up" data-sal-duration="800" ">
                <div class=" team-details-content">
                    <div class="main-info">
                        <span class="subtitle">Instructor</span>
                        <h3 class="title">CA, CS Mohit Singhi</h3>
                        <span class="designation">CA & CS</span>
                    </div>
                    <div class="bio-describe">
                        <p class="mb-3">
                            A qualified CA, CS, M.com and graduate from St.Xaviers College, Kolkata.
                            Teaching experience of more than 12 years and have guided more than 2000 students.
                            Sharing knowledge among the youths and leading them towards a bright future with
                            great future prospects is his motto.
                        </p>
                        <p class="mb-3">
                            He ha In-depth knowledge of accounting principles and practices and has
                            Real-world
                            accounting experience to provide relevant examples.
                            His teaching is somewhat semi formal. The doubts of each and every student are
                            attended at individual level with attention to every candidate. Lectures are based
                            on
                            conceptual and logical explanation with full practical exposures. Smart study is
                            always
                            preferable over hard study.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 data-sal-delay=" 100" data-sal="slide-up" data-sal-duration="800" ">
                <div class=" team-details-thumb">
                    <div class="thumbnail">
                        <img src="~/images/team/8.jpg" alt="team">
                    </div>
                    <ul class="social-share">
                        <li><a href="#"><i class="icon-share-alt"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row row--40 instructor-gap align-items-center">
            <div class="col-lg-4 data-sal-delay=" 100" data-sal="slide-up" data-sal-duration="800" ">
                <div class=" team-details-thumb">
                    <div class="thumbnail">
                        <img src="~/images/team/9.jpg" alt="team">
                    </div>
                    <ul class="social-share">
                        <li><a href="#"><i class="icon-share-alt"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 data-sal-delay=" 100" data-sal="slide-up" data-sal-duration="800" ">
                <div class=" team-details-content">
                    <div class="main-info">
                        <span class="subtitle">Instructor</span>
                        <h3 class="title">Er. Ankush Chourasia</h3>
                        <span class="designation">Er</span>
                    </div>
                    <div class="bio-describe">
                        <p class="mb-3">
                            Er. Ankush Chourasia, a seasoned educator
                            with a B.Tech degree and over 10 years of
                            experience, specializes in Mathematics and
                            Quantitative Aptitude.
                        </p>
                        <p class="mb-3">
                            Throughout his career, he has been dedicated
                            to fostering a deep understanding of
                            mathematical concepts among students,
                            helping them excel academically and in CA
                            foundation exams.
                        </p>
                        <p class="mb-3">
                            He can demonstrate effective strategies for
                            tackling math problems and Incorporates tools
                            and resources that enhance learning. His
                            teaching approach emphasizes clarity,
                            application-based learning, and
                            problem-solving techniques, making complex
                            topics accessible and engaging for learners at
                            all levels
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row--40 instructor-gap align-items-center">
            <div class="col-lg-8 data-sal-delay=" 100" data-sal="slide-up" data-sal-duration="800" ">
                <div class=" team-details-content">
                    <div class="main-info">
                        <span class="subtitle">Instructor</span>
                        <h3 class="title">CMA Ritesh Tiwari</h3>
                        <span class="designation">CMA</span>
                    </div>
                    <div class="bio-describe">
                        <p class="mb-3">
                            Ritesh Tiwari sir is CMA, CA Finalist and has persuaded his Commerce
                            graduate from
                            J.P University and M.com from Manglayatan university where he is the Topper from
                            both the university. He is also Pursuing L.L.B from J. P. University.
                            He has mentored over 2,000 students in the past 6 years in all levels of commerce
                            field, His main stream of Excellence being in LAW and ACCOUNTING. His student
                            friendly and systematic study approach has made him popular amongst all his
                            students.
                        </p>
                        <p class="mb-3">
                            He has strong knowledge of business law, including contracts, corporate
                            governance,
                            and compliance. He gives Practical examples in the field to learn relevant case
                            studies.
                            His dedication and passion for his subject keeps his knowledge updated about all the
                            latest changes that are happening around.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 data-sal-delay=" 100" data-sal="slide-up" data-sal-duration="800" ">
                <div class=" team-details-thumb">
                    <div class="thumbnail">
                        <img src="~/images/team/10.jpg" alt="team">
                    </div>
                    <ul class="social-share">
                        <li><a href="#"><i class="icon-share-alt"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row row--40 instructor-gap align-items-center">
            <div class="col-lg-4 data-sal-delay=" 100" data-sal="slide-up" data-sal-duration="800" ">
                <div class=" team-details-thumb">
                    <div class="thumbnail">
                        <img src="~/images/team/11.jpg" alt="team">
                    </div>
                    <ul class="social-share">
                        <li><a href="#"><i class="icon-share-alt"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 data-sal-delay=" 100" data-sal="slide-up" data-sal-duration="800" ">
                <div class=" team-details-content">
                    <div class="main-info">
                        <span class="subtitle">Instructor</span>
                        <h3 class="title">Santosh Singh Sir</h3>
                        <span class="designation"> </span>
                    </div>
                    <div class="bio-describe">
                        <p class="mb-3">
                            Mr. Santosh Singh, an All India Rankholder in CA Exam (AIR-23rd, 2nd in
                            WB),
                            has over
                            15 Years of Teaching Experience since 2009.
                            He especialises in Micro and Macro Economics. Popular for teaching with practical
                            examples and mock tests, he has taught more than 15,000 students and the count is
                            still on.
                        </p>
                        <p class="mb-3">
                            He has In-depth understanding of economic theories, principles, and
                            models.
                            He can
                            Connect theoretical concepts to current economic events and practical scenarios. He
                            encourages critical thinking and analysis of economic data and trends amongst the
                            students.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start CTA Area  -->
<div class="home-one-cta-two cta-area-1">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="home-one-cta edu-cta-box">
                    <div class="inner">
                        <div class="content">
                            <span class="subtitle">Need to speak with us? Give us a ring at - </span>
                            <span><a href="tel:+919836832223" target="_blank"> 9836832223 / </a></span>
                            <span><a href="tel:+919051399390" target="_blank"> 9051399390</a></span>
                        </div>
                    </div>
                    <ul class="shape-group">
                        <li class="shape-01 scene">
                            <img data-depth="2" src="~/images/cta/shape-06.png" alt="shape" />
                        </li>
                        <li class="shape-02 scene">
                            <img data-depth="-2" src="~/images/cta/shape-12.png" alt="shape" />
                        </li>
                        <li class="shape-03 scene">
                            <img data-depth="-3" src="~/images/cta/shape-04.png" alt="shape" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
