@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}


<div class="container" style="min-height: 70vh">
    <h3 class="text-center mt-5">
        @ViewData["Title"]
    </h3>
    <p class="text-center mt-5">
        Please check your email to reset your password.
    </p>
    <div class="d-flex justify-content-center mt-3">
        <a href="/" class="btn btn-dark">Back To Home</a>
    </div>
</div>

