@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="edu-breadcrumb-area breadcrumb-style-3">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="edu-breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Login
                </li>
            </ul>
        </div>
    </div>
</div>

<!--=====================================-->
<!--=          Login Area Start         =-->
<!--=====================================-->
<section class="account-page-area section-gap-equal">
    <div class="container position-relative">
        <div class="row g-5 justify-content-center">
            <div class="col-lg-5">
                <div class="login-form-box">
                    <h3 class="text-center mb-4">Login</h3>
                    <form method="post" >
                        <div class="form-group">
                            <label asp-for="Input.Email">Email or Mobile number <span class="text-danger">*</span></label>
                            <input asp-for="Input.Email" id="current-log-email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password">Password <span class="text-danger">*</span> </label>
                            <input asp-for="Input.Password" id="current-log-password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group chekbox-area">
                            <div class="edu-form-check">
                                <input type="checkbox" id="remember-me">
                                <label for="remember-me">Remember Me</label>
                            </div>
                            <a asp-area="Identity" asp-page="/Account/ForgotPassword" class="password-reset">Forgot Password?</a>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="edu-btn btn-medium">Sign in <i class="icon-4"></i></button>
                        </div>

                        <p>Not Registered yet? <a asp-area="Identity" asp-page="/Account/Register">Register Now</a></p>

                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
