@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
}


<div class="edu-breadcrumb-area breadcrumb-style-3">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="edu-breadcrumb">
                <li class="breadcrumb-item"><a asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Register
                </li>
            </ul>
        </div>
    </div>
</div>


<section class="account-page-area section-gap-equal">
    <div class="container position-relative">
        <div class="row g-5 justify-content-center">
            <div class="col-lg-8">
                <div class="login-form-box">
                    <h3 class="text-center mb-4">Register</h3>
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="row">
                            <div class="col-lg-6 mb-4">
                                <div class="form-group">
                                    <label asp-for="Input.FirstName" >First Name <span class="text-danger">*</span></label>
                                    <input asp-for="Input.FirstName" id="first-name">
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="form-group">
                                    <label asp-for="Input.LastName" >Last Name <span class="text-danger">*</span></label>
                                    <input asp-for="Input.LastName" id="last-name">
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-lg-12 mb-4">
                                <div class="form-group">
                                    <label asp-for="Input.Email" >Email Address <span class="text-danger">*</span></label>
                                    <input asp-for ="Input.Email" id="log-email">
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-lg-12 mb-4">
                                <div class="form-group position-relative">
                                    <label asp-for="Input.Password">Password <span class="text-danger">*</span></label>
                                    <input asp-for="Input.Password" id="log-password" type="password" class="form-control">
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                                    <!-- Toggle icon for show/hide password -->
                                    <span id="togglePassword" style="position: absolute; right: 10px; top: 36px; cursor: pointer;">
                                        <i class="bi bi-eye" id="toggleIconPassword"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="col-lg-12 mb-4">
                                <div class="form-group position-relative">
                                    <label asp-for="Input.ConfirmPassword">Confirm Password <span class="text-danger">*</span></label>
                                    <input asp-for="Input.ConfirmPassword" id="conf-password" type="password" class="form-control">
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                                    <!-- Toggle icon for show/hide confirm password -->
                                    <span id="toggleConfirmPassword" style="position: absolute; right: 10px; top: 36px; cursor: pointer;">
                                        <i class="bi bi-eye" id="toggleIconConfirmPassword"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-4">
                                <div class="form-group">
                                    <label asp-for="Input.PhoneNumber">Mobile Number <span class="text-danger">*</span></label>
                                    <input asp-for="Input.PhoneNumber" id="mob_num">
                                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="form-group">
                                    <label asp-for="Input.AlternatePhoneNumber">Alternate Mobile Number </label>
                                    <input asp-for="Input.AlternatePhoneNumber" id="alt_num">
                                </div>
                            </div>

                            <div class="col-lg-12 mb-4">
                                <div class="form-group">
                                    <label asp-for="Input.Address">Address <span class="text-danger">*</span></label>
                                    <textarea class="form-control" asp-for="Input.Address" id="address" rows="4"></textarea>
                                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="col-lg-6 mb-4">
                                <div class="form-group">
                                    <label asp-for="Input.Country" >Select Country</label>
                                    <select asp-for="Input.Country" id="country">
                                        <option value="India">India</option>
                                    </select>
                                    <span asp-validation-for="Input.Country" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="form-group">
                                    <label asp-for="Input.State" for="reg-name">Select State</label>
                                    <select asp-for="Input.State" id="state">
                                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                        <option value="Assam">Assam</option>
                                        <option value="Bihar">Bihar</option>
                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                        <option value="Goa">Goa</option>
                                        <option value="Gujarat">Gujarat</option>
                                        <option value="Haryana">Haryana</option>
                                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                                        <option value="Jharkhand">Jharkhand</option>
                                        <option value="Karnataka">Karnataka</option>
                                        <option value="Kerala">Kerala</option>
                                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                        <option value="Manipur">Manipur</option>
                                        <option value="Meghalaya">Meghalaya</option>
                                        <option value="Mizoram">Mizoram</option>
                                        <option value="Nagaland">Nagaland</option>
                                        <option value="Odisha">Odisha</option>
                                        <option value="Punjab">Punjab</option>
                                        <option value="Rajasthan">Rajasthan</option>
                                        <option value="Sikkim">Sikkim</option>
                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                        <option value="Telangana">Telangana</option>
                                        <option value="Tripura">Tripura</option>
                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                        <option value="Uttarakhand">Uttarakhand</option>
                                        <option value="West Bengal">West Bengal</option>

                                    </select>
                                    <span asp-validation-for="Input.State" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-4">
                                <div class="form-group">
                                    <label asp-for="Input.City">Select City</label>
                                    <input asp-for="Input.City" id="city">
                                    <span asp-validation-for="Input.City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="form-group">
                                    <label asp-for="Input.Pin" >Pincode</label>
                                    <input asp-for="Input.Pin" id="pincode">
                                    <span asp-validation-for="Input.Pin" class="text-danger"></span>
                                </div>
                            </div>

                        </div>

                        <div class="form-group mt-4">
                            <button type="submit" class="edu-btn btn-medium">Register <i class="icon-4"></i></button>
                        </div>
                        <p>Existing user? <a asp-area="Identity" asp-controller="Account" asp-action="Login">Log in</a></p>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <!-- Script to toggle password visibility -->
    <script>
        document.getElementById("togglePassword").addEventListener("click", function () {
            const passwordInput = document.getElementById("log-password");
            const toggleIcon = document.getElementById("toggleIconPassword");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleIcon.classList.remove("bi-eye");
                toggleIcon.classList.add("bi-eye-slash");
            } else {
                passwordInput.type = "password";
                toggleIcon.classList.remove("bi-eye-slash");
                toggleIcon.classList.add("bi-eye");
            }
        });

        document.getElementById("toggleConfirmPassword").addEventListener("click", function () {
            const confirmPasswordInput = document.getElementById("conf-password");
            const toggleIconConfirm = document.getElementById("toggleIconConfirmPassword");

            if (confirmPasswordInput.type === "password") {
                confirmPasswordInput.type = "text";
                toggleIconConfirm.classList.remove("bi-eye");
                toggleIconConfirm.classList.add("bi-eye-slash");
            } else {
                confirmPasswordInput.type = "password";
                toggleIconConfirm.classList.remove("bi-eye-slash");
                toggleIconConfirm.classList.add("bi-eye");
            }
        });
    </script>
}