@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}


<div class="container" style="min-height: 70vh">
    <h3 class="text-center mt-5">
        @ViewData["Title"]
    </h3>
    <p class="text-center mt-5">
        Your password has been reset. Please <a asp-page="./Login" class="btn btn-dark">click here to log in</a>
    </p>
    @* <div class="d-flex justify-content-center mt-3">
        <a asp-page="./Login" class="btn btn-dark">click here to log in</a>
    </div> *@
</div>