<div class="edu-breadcrumb-area breadcrumb-style-3">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="edu-breadcrumb">
                <li class="breadcrumb-item"><a asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item active" aria-current="page">
                    CA COURSES
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="edu-breadcrum-area mt-4">
    <div class="section-title section-center"
         data-sal="slide-up"
         data-sal-duration="800">
        <h3 class="title">CA COURSES</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="container-fluid">
            <div class="edu-sorting-area">
                <div class="sorting-right">
                    <h6 class="showing-text">
                        Showing <span>16</span> out of <span>35</span> results
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="edu-course-area course-area-1 section-gap-equal">
    <div class="container-fluid">
        <div class="row g-5 carts">
            <div class="col-lg-3 order-lg-1">
                <div class="course-sidebar-2">
                    <div class="edu-course-widget widget-category">
                        <div class="inner">
                            <h5 class="widget-title widget-toggle">Course</h5>
                            <div class="content">
                                <div class="edu-form-check">
                                    <input type="checkbox" id="cat-check1" checked />
                                    <label for="cat-check1">CA Foundation <span>(17)</span></label>
                                </div>
                                <div class="edu-form-check">
                                    <input type="checkbox" id="cat-check2" />
                                    <label for="cat-check2">CA Intermediate <span>(22)</span></label>
                                </div>
                                <div class="edu-form-check">
                                    <input type="checkbox" id="cat-check3" />
                                    <label for="cat-check3">CA Final <span>(35)</span></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="edu-course-widget widget-instructor">
                        <div class="inner">
                            <h5 class="widget-title widget-toggle">Subject</h5>
                            <div class="content">
                                <div class="edu-form-check">
                                    <input type="checkbox" id="inst-check2" />
                                    <label for="inst-check2">Financial Reporting</label>
                                </div>
                                <div class="edu-form-check">
                                    <input type="checkbox" id="inst-check3" />
                                    <label for="inst-check3">Strategic Financial Management</label>
                                </div>
                                <div class="edu-form-check">
                                    <input type="checkbox" id="inst-check4" />
                                    <label for="inst-check4">Advanced Auditing and Professional Ethics</label>
                                </div>
                                <div class="edu-form-check">
                                    <input type="checkbox" id="inst-check5" />
                                    <label for="inst-check5">Direct Tax Laws</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-pr--35 order-lg-2">
                <div class="row g-5">
                    <!-- Start Single Course  -->
                    <div class="col-md-6 col-lg-4 col-xl-3"
                         data-sal-delay="100"
                         data-sal="slide-up"
                         data-sal-duration="800">
                        <div class="edu-course course-style-1 hover-button-bg-white">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Details">
                                        <img src="~/images/course/ps-1.webp"
                                             alt="Course Meta" />
                                    </a>

                                    <div class="overlay"></div>
                                    <div class="button"><a asp-area="Customer" asp-controller="Product" asp-action="Details"> View </a></div>
                                </div>
                                <div class="content">
                                    <h6 class="title">
                                        <a asp-area="Customer" asp-controller="Product" asp-action="Details">
                                            CA Foundation Principles and Practices of
                                            Accounting Regular Batch
                                        </a>
                                    </h6>

                                    <div class="d-flex align-items-center mb-3">
                                        <a href="#" class="faculty_name">CA Praveen Sharma</a>
                                    </div>
                                    <div class="course-price">
                                        <span class="ori_price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>4999
                                        </span>
                                        <span class="del-price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>6999
                                        </span>
                                        <span class="dis_price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>2000
                                            off
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Course  -->
                    <!-- Start Single Course  -->
                    <div class="col-md-6 col-lg-4 col-xl-3"
                         data-sal-delay="100"
                         data-sal="slide-up"
                         data-sal-duration="800">
                        <div class="edu-course course-style-1 hover-button-bg-white">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img src="~/images/course/ps-2.webp"
                                             alt="Course Meta" />
                                    </a>

                                    <div class="overlay"></div>
                                    <div class="button"><a href="#"> View </a></div>
                                </div>
                                <div class="content">
                                    <h6 class="title">
                                        <a href="#">
                                            CA Foundation Principles and Practices of
                                            Accounting Regular Batch
                                        </a>
                                    </h6>

                                    <div class="d-flex align-items-center mb-3">
                                        <a href="#" class="faculty_name">CA Praveen Sharma</a>
                                    </div>
                                    <div class="course-price">
                                        <span class="ori_price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>4999
                                        </span>
                                        <span class="del-price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>6999
                                        </span>
                                        <span class="dis_price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>2000
                                            off
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Course  -->
                    <!-- Start Single Course  -->
                    <div class="col-md-6 col-lg-4 col-xl-3"
                         data-sal-delay="100"
                         data-sal="slide-up"
                         data-sal-duration="800">
                        <div class="edu-course course-style-1 hover-button-bg-white">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img src="~/images/course/ps-3.webp"
                                             alt="Course Meta" />
                                    </a>

                                    <div class="overlay"></div>
                                    <div class="button"><a href="#"> View </a></div>
                                </div>
                                <div class="content">
                                    <h6 class="title">
                                        <a href="#">
                                            CA Foundation Principles and Practices of
                                            Accounting Regular Batch
                                        </a>
                                    </h6>

                                    <div class="d-flex align-items-center mb-3">
                                        <a href="#" class="faculty_name">CA Praveen Sharma</a>
                                    </div>
                                    <div class="course-price">
                                        <span class="ori_price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>4999
                                        </span>
                                        <span class="del-price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>6999
                                        </span>
                                        <span class="dis_price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>2000
                                            off
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Course  -->
                    <!-- Start Single Course  -->
                    <div class="col-md-6 col-lg-4 col-xl-3"
                         data-sal-delay="100"
                         data-sal="slide-up"
                         data-sal-duration="800">
                        <div class="edu-course course-style-1 hover-button-bg-white">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img src="~/images/course/ps-4.webp"
                                             alt="Course Meta" />
                                    </a>

                                    <div class="overlay"></div>
                                    <div class="button"><a href="#"> View </a></div>
                                </div>
                                <div class="content">
                                    <h6 class="title">
                                        <a href="#">
                                            CA Foundation Principles and Practices of
                                            Accounting Regular Batch
                                        </a>
                                    </h6>

                                    <div class="d-flex align-items-center mb-3">
                                        <a href="#" class="faculty_name">CA Praveen Sharma</a>
                                    </div>
                                    <div class="course-price">
                                        <span class="ori_price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>4999
                                        </span>
                                        <span class="del-price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>6999
                                        </span>
                                        <span class="dis_price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>2000
                                            off
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Course  -->
                    <!-- Start Single Course  -->
                    <div class="col-md-6 col-lg-4 col-xl-3"
                         data-sal-delay="100"
                         data-sal="slide-up"
                         data-sal-duration="800">
                        <div class="edu-course course-style-1 hover-button-bg-white">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img src="~/images/course/bs-4.webp"
                                             alt="Course Meta" />
                                    </a>

                                    <div class="overlay"></div>
                                    <div class="button"><a href="#"> View </a></div>
                                </div>
                                <div class="content">
                                    <h6 class="title">
                                        <a href="#">
                                            CA Foundation Principles and Practices of
                                            Accounting Regular Batch
                                        </a>
                                    </h6>

                                    <div class="d-flex align-items-center mb-3">
                                        <a href="#" class="faculty_name">CA Praveen Sharma</a>
                                    </div>
                                    <div class="course-price">
                                        <span class="ori_price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>4999
                                        </span>
                                        <span class="del-price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>6999
                                        </span>
                                        <span class="dis_price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>2000
                                            off
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Course  -->
                    <!-- Start Single Course  -->
                    <div class="col-md-6 col-lg-4 col-xl-3"
                         data-sal-delay="100"
                         data-sal="slide-up"
                         data-sal-duration="800">
                        <div class="edu-course course-style-1 hover-button-bg-white">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img src="~/images/course/bs-3.webp"
                                             alt="Course Meta" />
                                    </a>

                                    <div class="overlay"></div>
                                    <div class="button"><a href="#"> View </a></div>
                                </div>
                                <div class="content">
                                    <h6 class="title">
                                        <a href="#">
                                            CA Foundation Principles and Practices of
                                            Accounting Regular Batch
                                        </a>
                                    </h6>

                                    <div class="d-flex align-items-center mb-3">
                                        <a href="#" class="faculty_name">CA Praveen Sharma</a>
                                    </div>
                                    <div class="course-price">
                                        <span class="ori_price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>4999
                                        </span>
                                        <span class="del-price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>6999
                                        </span>
                                        <span class="dis_price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>2000
                                            off
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Course  -->
                    <!-- Start Single Course  -->
                    <div class="col-md-6 col-lg-4 col-xl-3"
                         data-sal-delay="100"
                         data-sal="slide-up"
                         data-sal-duration="800">
                        <div class="edu-course course-style-1 hover-button-bg-white">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img src="~/images/course/ps-1.webp"
                                             alt="Course Meta" />
                                    </a>

                                    <div class="overlay"></div>
                                    <div class="button"><a href="#"> View </a></div>
                                </div>
                                <div class="content">
                                    <h6 class="title">
                                        <a href="#">
                                            CA Foundation Principles and Practices of
                                            Accounting Regular Batch
                                        </a>
                                    </h6>

                                    <div class="d-flex align-items-center mb-3">
                                        <a href="#" class="faculty_name">CA Praveen Sharma</a>
                                    </div>
                                    <div class="course-price">
                                        <span class="ori_price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>4999
                                        </span>
                                        <span class="del-price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>6999
                                        </span>
                                        <span class="dis_price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>2000
                                            off
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Course  -->
                    <!-- Start Single Course  -->
                    <div class="col-md-6 col-lg-4 col-xl-3"
                         data-sal-delay="100"
                         data-sal="slide-up"
                         data-sal-duration="800">
                        <div class="edu-course course-style-1 hover-button-bg-white">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img src="~/images/course/ps-2.webp"
                                             alt="Course Meta" />
                                    </a>

                                    <div class="overlay"></div>
                                    <div class="button"><a href="#"> View </a></div>
                                </div>
                                <div class="content">
                                    <h6 class="title">
                                        <a href="#">
                                            CA Foundation Principles and Practices of
                                            Accounting Regular Batch
                                        </a>
                                    </h6>

                                    <div class="d-flex align-items-center mb-3">
                                        <a href="#" class="faculty_name">CA Praveen Sharma</a>
                                    </div>
                                    <div class="course-price">
                                        <span class="ori_price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>4999
                                        </span>
                                        <span class="del-price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>6999
                                        </span>
                                        <span class="dis_price">
                                            <i class="fa-solid fa-indian-rupee-sign"></i>2000
                                            off
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Course  -->
                </div>
            </div>
        </div>

        <ul class="edu-pagination">
            <li>
                <a href="#" aria-label="Previous"><i class="icon-west"></i></a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="more-next"><a href="#"></a></li>
            <li><a href="#">8</a></li>
            <li>
                <a href="#" aria-label="Next"><i class="icon-east"></i></a>
            </li>
        </ul>
    </div>
</div>