@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h1>Hello</h1>

@section Scripts{
    <script>
        // $(document).ready(function () {
        //     $('#categoryTable').DataTable();
        // });
    </script>
}

