@model SosalMedia

<!-- Start CTA Area  -->
<div class="home-one-cta-two cta-area-1">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="home-one-cta edu-cta-box">
                    <div class="inner">
                        <div class="content">
                            <span class="subtitle">Need to speak with us? Give us a ring at - </span>
                            <span><a href="tel:+919836832223" target="_blank"> 9836832223 / </a></span>
                            <span><a href="tel:+919051399390" target="_blank"> 9051399390</a></span>
                        </div>
                    </div>
                    <ul class="shape-group">
                        <li class="shape-01 scene">
                            <img data-depth="2" src="~/images/cta/shape-06.png" alt="shape" />
                        </li>
                        <li class="shape-02 scene">
                            <img data-depth="-2" src="~/images/cta/shape-12.png" alt="shape" />
                        </li>
                        <li class="shape-03 scene">
                            <img data-depth="-3" src="~/images/cta/shape-04.png" alt="shape" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<footer b-9b4f8crvh3="">

    <footer class="edu-footer footer-lighten bg-image footer-style-1">
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row g-5 carts justify-content-center">

                    <div class="col-lg-3 col-md-6">
                        <div class="edu-footer-widget quick-link-widget">
                            <h6 class="widget-title">Blogs &amp; Policy</h6>
                            <div class="inner">
                                <ul class="footer-link link-hover">
                                    <li><a href="/Customer/Home/Blogs">Blogs</a></li>
                                    <li><a href="/Customer/Home/Privacy">Privacy Policy</a></li>
                                    <li><a href="/Customer/Home/RefundPolicy">Refund Policy</a></li>
                                    <li><a href="/Customer/Home/TermsAndCondition">Terms &amp; Condition</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="edu-footer-widget explore-widget">
                            <h6 class="widget-title">Follow Us</h6>
                            <div class="inner">
                                <ul class="social-share icon-transparent">
                                    <li>
                                        <a href="https://www.facebook.com/share/ZTdBdnQvmb8fe6kh/?mibextid=qi2Omg" class="color-fb">
                                            <i class="icon-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.youtube.com/@@topclassesca" class="color-yt"><i class="icon-youtube"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/topclasses.in?utm_source=qr&amp;igsh=MWw4cndyaXU5bmtqOA==" class="color-ig"><i class="icon-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://t.me/TopcaClasses" class="color-twitter">
                                            <i class="fa-brands fa-telegram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="edu-footer-widget">
                            <h6 class="widget-title">Get Latest Updates</h6>
                            <p>Subscribe now for our updates and newsletters</p>
                            <div class="inner">
                                <div class="input-group footer-subscription-form">
                                    <input type="email" class="form-control" placeholder="Your email">
                                    <button class="edu-btn btn-small" type="button">
                                        Subscribe <i class="icon-4"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner text-center">
                            <p>
                                Copyright 2024 <a href="#" target="_blank">Topclasses</a>
                                Designed By <a href="#" target="_blank">Upgrade Digital Solutions</a>.
                                All Rights Reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</footer>